<ng-container
    *transloco="
        let t;
        scope: 'payment-section';
        prefix: 'paymentSection.paymentDetails.invoiceDetails'
    "
>
    <div fxLayout="column" fxLayoutGap="24px">
        <div
            class="payment-invoice-info-title mat-title-large"
            fxLayout
            fxLayoutAlign="space-between center"
        >
            <div>
                {{ t('title') }}
                @if (invoice) {
                    <span>#{{ invoice.id }}</span>
                }
            </div>
        </div>
        @if (!invoice) {
            @if (!isLoading) {
                <div class="mat-body-medium">
                    {{ t('notFound') }}
                </div>
            } @else {
                <div *transloco="let c; scope: 'components'; prefix: 'components.shared'">
                    <div class="mat-body-medium">{{ c('loading') }}</div>
                </div>
            }
        } @else {
            <dsh-invoice-details [invoice]="invoice"></dsh-invoice-details>
        }
    </div>
</ng-container>
