<ng-container
    *transloco="
        let t;
        scope: 'payment-section';
        read: 'paymentSection.paymentDetails.invoiceDetails'
    "
>
    <div fxLayout="column" fxLayoutGap="24px">
        <div
            class="payment-invoice-info-title mat-title-large"
            fxLayout
            fxLayoutAlign="space-between center"
        >
            <div>
                {{ t('title') }}
                <span *ngIf="invoice">#{{ invoice.id }}</span>
            </div>
        </div>
        <ng-container *ngIf="!invoice; else details">
            <div *ngIf="!isLoading; else loading" class="dsh-body-1">
                {{ t('notFound') }}
            </div>
            <ng-template #loading>
                <div *transloco="let c; scope: 'components'; read: 'components.shared'">
                    <div class="dsh-body-1">{{ c('loading') }}</div>
                </div>
            </ng-template>
        </ng-container>
        <ng-template #details>
            <dsh-invoice-details [invoice]="invoice"></dsh-invoice-details>
        </ng-template>
    </div>
</ng-container>
