<ng-container
    *transloco="let t; scope: 'payment-section'; read: 'paymentSection.paymentDetails.holdDetails'"
>
    <dsh-base-dialog [title]="t('cancelTitle')" (cancel)="decline()">
        <form [formGroup]="form">
            <dsh-max-length-input
                [label]="t('reason')"
                [maxLength]="maxReasonLength"
                class="create-refund-dialog-reason"
                formControlName="reason"
                required
            ></dsh-max-length-input>
        </form>
        <ng-container dshBaseDialogActions>
            <button
                [disabled]="form.pristine || form.invalid"
                color="accent"
                dsh-button
                (click)="confirm()"
            >
                {{ t('confirm') }}
            </button>
        </ng-container>
    </dsh-base-dialog>
</ng-container>
