$dsh-dropdown-border-radius: 16px;

$indent: 10px;

.dsh-dropdown {
    border-radius: $dsh-dropdown-border-radius;
    overflow: auto;
    width: auto;

    &-wrapper {
        perspective: 2000px;
        width: 100%;
    }

    &-triangle {
        width: 10px;
        height: 10px;
        position: absolute;
        top: 0;
        left: 50%;
        transform: rotate(45deg) translateX(-70%) translateY(0%);
        border-top-left-radius: 2px;
        z-index: 10;
    }
}
