<dsh-row
    *transloco="let claims; scope: 'claim-section'; read: 'claimSection.claimRowHeader'"
    fxLayout="row"
    fxLayoutAlign="space-between center"
    fxLayoutGap="24px"
>
    <dsh-row-header-label fxFlex="15" fxHide.lt-md>#</dsh-row-header-label>
    <dsh-row-header-label fxFlex="25" fxHide.lt-md>
        {{ claims('panel.status') }}
    </dsh-row-header-label>
    <dsh-row-header-label fxFlex fxFlex.gt-sm="30" fxLayoutAlign="end center">
        {{ claims('panel.updatedAt') }}
    </dsh-row-header-label>
</dsh-row>
