<dsh-row
    *transloco="let claims; scope: 'claim-section'; read: 'claimSection.claimRowHeader'"
    fxLayout="row"
    fxLayoutAlign="space-between center"
    fxLayoutGap="24px"
>
    <dsh-row-header-label fxHide.lt-md fxFlex="15">#</dsh-row-header-label>
    <dsh-row-header-label fxHide.lt-md fxFlex="25"> {{ claims('panel.status') }} </dsh-row-header-label>
    <dsh-row-header-label fxFlex.gt-sm="30" fxFlex fxLayoutAlign="end center"> {{ claims('panel.updatedAt') }} </dsh-row-header-label>
</dsh-row>
