<ng-container
    *transloco="let t; scope: 'payment-section'; read: 'paymentSection.operations.payments.filter'"
>
    <div fxLayout="column" fxLayoutGap="24px">
        <div class="dsh-title" fxFlex>{{ t('bankCardPaymentSystem') }}</div>
        <dsh-expandable-radio-group
            [choices]="paymentSystems"
            [control]="control"
            [previewCount]="2"
            anyResponse
            fxFlex
        >
            <ng-container *ngFor="let system of paymentSystems">
                <ng-template [dshExpandableRadioGroupItem]="system">
                    <span>{{ (bankCardPaymentSystemDict$ | async)?.[system] }}</span>
                </ng-template>
            </ng-container>
        </dsh-expandable-radio-group>
    </div>
</ng-container>
