<div
    *transloco="let t; scope: 'payment-section'; read: 'paymentSection.paymentDetails.refunds'"
    fxLayout="column"
    fxLayoutGap="24px"
>
    <div class="refunds-title mat-h2" fxLayout fxLayoutAlign="space-between center">
        <div>
            {{ t('title') }}
        </div>
        <button
            *ngIf="'CreateRefund' | isAccessAllowed"
            [disabled]="!isRefundAvailable"
            color="accent"
            dsh-button
            (click)="createRefund()"
        >
            {{ t('createRefund.title') }}
        </button>
    </div>
    <dsh-refunds-list
        [hasMore]="hasMore$ | async"
        [list]="refunds$ | async"
        [loading]="isLoading$ | async"
        (showMore)="loadMoreRefunds()"
    ></dsh-refunds-list>
</div>
