<div
    *transloco="
        let t;
        scope: 'organization-section';
        read: 'organizationSection.organizationDetails.invitationsList'
    "
    fxLayout="column"
    fxLayoutGap="16px"
>
    <dsh-row color="primary" fxLayout fxLayoutAlign=" center" fxLayoutGap="24px">
        <dsh-row-header-label>{{ t('headerRow.email') }}</dsh-row-header-label>
    </dsh-row>
    <dsh-accordion
        *dshEmpty="!invitations?.length; text: t('emptyInvitations')"
        [expanded]="expandedId$ | async"
        fxLayout="column"
        fxLayoutGap="16px"
        (expandedChange)="expandedIdChange($event)"
    >
        <dsh-accordion-item
            #accordionItem
            *ngFor="let invitation of invitations; trackBy: trackInvitations"
        >
            <dsh-row fxLayout fxLayoutAlign=" center" fxLayoutGap="24px">
                <dsh-row-label>
                    {{ invitation.invitee?.contact?.email }}
                </dsh-row-label>
            </dsh-row>
            <dsh-accordion-item-content>
                <dsh-card fxLayout="column" fxLayoutGap="32px">
                    <dsh-accordion-item-content-header (collapse)="accordionItem.collapse($event)">
                        {{ invitation.id }}
                    </dsh-accordion-item-content-header>
                    <dsh-invitation
                        [invitation]="invitation"
                        [orgId]="orgId"
                        (changed)="changed.emit()"
                    ></dsh-invitation>
                </dsh-card>
            </dsh-accordion-item-content>
        </dsh-accordion-item>
    </dsh-accordion>
</div>
