<ng-container
    *transloco="let t; scope: 'wallet-section'; read: 'walletSection.depositStatusFilter'"
>
    <div fxLayout="column" fxLayoutGap="24px">
        <div class="mat-title-large" fxFlex>{{ t('depositStatus') }}</div>
        <dsh-expandable-radio-group [choices]="statuses" [control]="control" anyResponse fxFlex>
            <ng-container *ngFor="let status of statuses">
                <ng-template [dshExpandableRadioGroupItem]="status">
                    {{ (depositStatusDict$ | async)?.[status] }}
                </ng-template>
            </ng-container>
        </dsh-expandable-radio-group>
    </div>
</ng-container>
