<dsh-card *transloco="let c; scope: 'components'; prefix: 'components.shared'" class="stat-item">
    @if (!error) {
        <div
            fxLayout="column"
            fxLayoutGap="5px"
            style="display: flex; flex-direction: column; gap: 16px"
        >
            <div
                *transloco="let t; scope: 'payment-section'; prefix: 'paymentSection.analytics'"
                fxLayout
                fxLayoutAlign="space-between"
                fxLayoutGap="10px"
            >
                @if (!isLoading) {
                    <div class="mat-title-large stat-item-title">
                        @if (statData?.current) {
                            <div>
                                @if (hideCurrency) {
                                    <div>
                                        {{ statData.current | number }}
                                    </div>
                                } @else {
                                    {{
                                        statData.current
                                            | amountCurrency: statData.currency : 'short'
                                    }}
                                }
                            </div>
                        } @else {
                            {{ t('noData') }}
                        }
                    </div>
                }
                @if (isLoading) {
                    <dsh-spinner [type]="spinnerType" size="28"></dsh-spinner>
                }
            </div>
            <div style="display: flex; flex-direction: column; gap: 4px">
                <div class="mat-body-small dsh-stat-item-title">{{ subtitle }}</div>
                @if (!isLoading) {
                    <dsh-percent-difference
                        [current]="statData?.current"
                        [previous]="statData?.previous"
                    ></dsh-percent-difference>
                }
            </div>
        </div>
    } @else {
        {{ c('httpError') }}
    }
</dsh-card>
