<dsh-base-dialog
    *transloco="let t; scope: 'organization-section'; read: 'organizationSection.selectRoleDialog'"
    [title]="t('title')"
    (cancel)="cancel()"
>
    <div style="overflow: auto; height: 100%">
        <dsh-nested-table
            [cellsTemplates]="cellsTemplates"
            [columns]="columns$ | async"
            [data]="data"
        >
            <ng-template #accessCellTpl let-column="column" let-index="index" let-value="value">
                <dsh-selection
                    *ngIf="value && value.availableRoles !== undefined"
                    [selected]="value.availableRoles.includes(column.field)"
                    style="display: flex; justify-content: center"
                ></dsh-selection>
                <div *ngIf="index === 0" style="display: flex; justify-content: center">
                    <mat-radio-group
                        [ngModel]="selectedRole$ | async"
                        (ngModelChange)="selectedRole$.next(column.field)"
                    >
                        <mat-radio-button [value]="column.field"></mat-radio-button>
                    </mat-radio-group>
                </div>
            </ng-template>
        </dsh-nested-table>
    </div>
    <ng-container *ngIf="!dialogData?.isShow" dshBaseDialogActions>
        <button [disabled]="!(selectedRole$ | async)" color="accent" dsh-button (click)="select()">
            {{ t('select') }}
        </button>
    </ng-container>
</dsh-base-dialog>
