<dsh-base-dialog
    *transloco="let t; scope: 'organization-section'; read: 'organizationSection.selectRoleDialog'"
    [title]="t('title')"
    (cancel)="cancel()"
>
    <div style="overflow: auto; height: 100%">
        <dsh-nested-table
            [cellsTemplates]="cellsTemplates"
            [columns]="columns$ | async"
            [data]="data"
        >
            <ng-template #accessCellTpl let-column="column" let-index="index" let-value="value">
                <dsh-selection
                    *ngIf="value && value.availableRoles !== undefined"
                    [selected]="value.availableRoles.includes(column.field)"
                    style="display: flex; justify-content: center"
                ></dsh-selection>
                <mat-radio-button
                    *ngIf="index === 0"
                    [value]="roleControl.value === column.field"
                    style="display: flex; justify-content: center"
                    (click)="roleControl.setValue(column.field)"
                ></mat-radio-button>
            </ng-template>
        </dsh-nested-table>
    </div>
    <ng-container *ngIf="!dialogData?.isShow" dshBaseDialogActions>
        <button [disabled]="roleControl.invalid" color="accent" dsh-button (click)="select()">
            {{ t('select') }}
        </button>
    </ng-container>
</dsh-base-dialog>
