<dsh-base-dialog
    *transloco="let t; scope: 'organization-section'; read: 'organizationSection.selectRoleDialog'"
    [noActions]="dialogData.isShow"
    [title]="t('title')"
    (cancel)="cancel()"
>
    <div class="content">
        <dsh-nested-table
            [cellsTemplates]="cellsTemplates"
            [columns]="columns$ | async"
            [data]="data"
        >
            <ng-template #accessCellTpl let-column="column" let-index="index" let-value="value">
                <dsh-selection
                    *ngIf="value && value?.availableRoles !== undefined"
                    [selected]="value?.availableRoles?.includes?.(column.field)"
                    class="selection"
                ></dsh-selection>
                <div *ngIf="!value && index === 0" class="selection">
                    <mat-radio-group
                        [disabled]="!dialogData.availableRoles.includes(column?.field)"
                        [ngModel]="selectedRole$ | async"
                        (ngModelChange)="selectedRole$.next(column.field)"
                    >
                        <mat-radio-button [value]="column.field"></mat-radio-button>
                    </mat-radio-group>
                </div>
            </ng-template>
        </dsh-nested-table>
    </div>
    <ng-container *ngIf="!dialogData.isShow" dshBaseDialogActions>
        <button [disabled]="!(selectedRole$ | async)" mat-flat-button (click)="select()">
            {{ t('select') }}
        </button>
    </ng-container>
</dsh-base-dialog>
