<ng-container *transloco="let p; scope: 'payment-section'; read: 'paymentSection.shops.panel'">
    <ng-container>
        <div class="mat-title">{{ p('actions') }}</div>
        <div>
            <ng-container *ngTemplateOutlet="shop.isSuspended ? activateButton : suspendButton"></ng-container>
        </div>
    </ng-container>

    <ng-template #activateButton>
        <ng-container>
            <button (click)="activate(shop.id)" color="accent" dsh-button>
                {{ p('activate') }}
            </button>
        </ng-container>
    </ng-template>

    <ng-template #suspendButton>
        <ng-container>
            <button (click)="suspend(shop.id)" color="warn" dsh-button>
                {{ p('suspend') }}
            </button>
        </ng-container>
    </ng-template>
</ng-container>
