<ng-container *transloco="let p; scope: 'payment-section'; read: 'paymentSection.shops.panel'">
    <ng-container>
        <div class="mat-h2">{{ p('actions') }}</div>
        <div>
            <ng-container
                *ngTemplateOutlet="shop.isSuspended ? activateButton : suspendButton"
            ></ng-container>
        </div>
    </ng-container>

    <ng-template #activateButton>
        <ng-container>
            <button mat-flat-button (click)="activate(shop.id)">
                {{ p('activate') }}
            </button>
        </ng-container>
    </ng-template>

    <ng-template #suspendButton>
        <ng-container>
            <button class="matv-error" mat-flat-button (click)="suspend(shop.id)">
                {{ p('suspend') }}
            </button>
        </ng-container>
    </ng-template>
</ng-container>
