<div
    *transloco="let p; scope: 'payment-section'; read: 'paymentSection.shops.panel'"
    style="display: flex; flex-direction: column; gap: 24px"
>
    <ng-container>
        <div class="mat-title-large">{{ p('actions') }}</div>
        <div>
            <ng-container
                *ngTemplateOutlet="shop.isSuspended ? activateButton : suspendButton"
            ></ng-container>
        </div>
    </ng-container>

    <ng-template #activateButton>
        <button mat-flat-button (click)="activate(shop.id)">
            {{ p('activate') }}
        </button>
    </ng-template>

    <ng-template #suspendButton>
        <button class="matv-error" mat-flat-button (click)="suspend(shop.id)">
            {{ p('suspend') }}
        </button>
    </ng-template>
</div>
