<div [formGroup]="control" fxLayout="column" fxLayoutGap="24px">
    <dsh-shop-details-form formControlName="shopDetails"></dsh-shop-details-form>
    <mat-divider></mat-divider>
    <dsh-payment-institution-field
        formControlName="paymentInstitution"
    ></dsh-payment-institution-field>
    <mat-divider></mat-divider>
    <dsh-org-details-form formControlName="orgDetails"></dsh-org-details-form>
    <mat-divider></mat-divider>

    <ng-container *transloco="let p; scope: 'components'; read: 'components.shopForm'">
        <div fxLayout="column" fxLayoutGap="16px">
            <h2 class="dsh-title">{{ p('title') }}</h2>
            <div class="dsh-body-1">{{ p('description') }}</div>
        </div>
        <dsh-created-existing-switch
            [form]="control.controls.bankAccount"
            formGroupName="bankAccount"
        >
            <div *dshCreatedCase fxLayout="column" fxLayoutGap="16px">
                <dsh-russian-bank-account-form
                    formControlName="created"
                ></dsh-russian-bank-account-form>
                <dsh-currency-autocomplete-field
                    [formControl]="control.controls.currency"
                ></dsh-currency-autocomplete-field>
            </div>
            <dsh-existing-bank-account
                *dshExistingCase
                bankAccountType="PayoutToolDetailsBankAccount"
                formControlName="existing"
            ></dsh-existing-bank-account>
        </dsh-created-existing-switch>
    </ng-container>
</div>
