<ng-container
    *transloco="
        let t;
        scope: 'payment-section';
        prefix: 'paymentSection.operations.payments.filter'
    "
>
    <div fxLayout="column" fxLayoutGap="24px">
        <div class="mat-title-large" fxFlex>{{ t('bankCardTokenProvider') }}</div>
        <dsh-expandable-radio-group [choices]="providers" [control]="control" anyResponse fxFlex>
            @for (provider of providers; track provider) {
                <ng-template [dshExpandableRadioGroupItem]="provider">
                    <span>{{ (bankCardTokenProviderDict$ | async)?.[provider] }}</span>
                </ng-template>
            }
        </dsh-expandable-radio-group>
    </div>
</ng-container>
