<div
    *transloco="
        let t;
        scope: 'payment-section';
        read: 'paymentSection.operations.refunds.paymentInfo'
    "
    fxLayout="column"
    fxLayoutGap="24px"
>
    <div fxLayout fxLayoutAlign="space-between" fxLayoutGap="16px">
        <div class="mat-title-large">{{ t('title') }}</div>
    </div>
    <ng-container *ngIf="isLoading$ | async; else afterLoading">
        <div *transloco="let c; scope: 'components'; read: 'components.shared'" class="dsh-body-1">
            {{ c('loading') }}
        </div>
    </ng-container>
    <ng-template #afterLoading>
        <div *ngIf="errorOccurred$ | async; else content" class="dsh-body-1">{{ t('error') }}</div>
    </ng-template>
    <ng-template #content>
        <dsh-payment-details
            *ngIf="payment$ | async as payment"
            [payment]="payment"
        ></dsh-payment-details>
    </ng-template>
</div>
