<ng-container
    *transloco="let t; scope: 'core-components'; prefix: 'coreComponents.dateRangeFilter'"
>
    <dsh-filter
        [active]="isActive"
        [activeLabel]="activeLabel$ | async"
        [content]="content"
        [label]="t('label')"
        [title]="isActive ? (activeLabel$ | async) : ''"
        (clear)="clear()"
        (save)="save()"
    >
    </dsh-filter>
    <ng-template #content>
        @if (step === stepEnum.Presets) {
            <div fxLayout="column" fxLayoutGap="24px">
                @for (preset of presets; track preset) {
                    <div
                        [ngClass]="{
                            'dsh-date-range-filter-preset-active': preset === value.preset,
                        }"
                        class="mat-body-large preset"
                        (click)="selectPreset(preset)"
                    >
                        {{ (presetLabels$ | async)?.[preset] }}
                    </div>
                }
            </div>
        }
        @if (step === stepEnum.Calendar) {
            <mat-calendar
                [maxDate]="maxDate"
                [selected]="selectedCalendar$ | async"
                (selectedChange)="selectedChange($event)"
            ></mat-calendar>
        }
    </ng-template>
</ng-container>
