<ng-container *transloco="let t; scope: 'core-components'; read: 'coreComponents.dateRangeFilter'">
    <dsh-filter
        [active]="isActive"
        [activeLabel]="activeLabel$ | async"
        [content]="content"
        [label]="t('label')"
        [title]="isActive ? (activeLabel$ | async) : ''"
        (clear)="clear()"
        (save)="save()"
    >
    </dsh-filter>
    <ng-template #content>
        <div *ngIf="step === stepEnum.Presets" fxLayout="column" fxLayoutGap="24px">
            <div
                *ngFor="let preset of presets"
                [ngClass]="{ 'dsh-date-range-filter-preset-active': preset === value.preset }"
                class="mat-body-large preset"
                (click)="selectPreset(preset)"
            >
                {{ (presetLabels$ | async)?.[preset] }}
            </div>
        </div>
        <mat-calendar
            *ngIf="step === stepEnum.Calendar"
            [maxDate]="maxDate"
            [selected]="selectedCalendar$ | async"
            (selectedChange)="selectedChange($event)"
        ></mat-calendar>
    </ng-template>
</ng-container>
