<div
    *transloco="let t; scope: 'claim-section'; read: 'claimSection.claims'"
    class="container"
    fxLayout="column"
    fxLayoutGap="32px"
>
    <dsh-section-header [label]="t('title')"></dsh-section-header>
    <div
        fxLayout="column-reverse"
        fxLayout.gt-sm="row"
        fxLayoutAlign="start start"
        fxLayoutAlign.gt-sm="space-between"
        fxLayoutGap="16px"
    >
        <dsh-claims-search-filters
            [initParams]="params$ | async"
            (searchParamsChanges)="search($event)"
        ></dsh-claims-search-filters>
        <button color="accent" mat-flat-button (click)="createShop()">
            {{ t('createClaim') }}
        </button>
    </div>
    <dsh-claims-list
        [claimList]="claimsList$ | async"
        [hasMore]="hasMore$ | async"
        [isLoading]="isLoading$ | async"
        [lastUpdated]="lastUpdated$ | async"
        (refresh)="refresh()"
        (showMore)="fetchMore()"
    ></dsh-claims-list>
</div>
