<dsh-base-dialog
    *transloco="let c; scope: 'payment-section'; read: 'paymentSection.createPaymentLinkDialog'"
    [title]="c('title')"
    (cancel)="cancel()"
>
    <dsh-create-payment-link-form
        [formControl]="formControl"
        [paymentLink]="paymentLink$ | async"
        [paymentMethods]="paymentMethods$ | async"
    ></dsh-create-payment-link-form>
    <ng-container
        *transloco="let t; scope: 'components'; read: 'components.shared'"
        dshBaseDialogActions
    >
        <button
            [disabled]="inProgress$ | async"
            color="accent"
            dsh-text-button
            (click)="formControl.reset()"
        >
            {{ t('clearForm') }}
        </button>
        <button
            [disabled]="formControl.invalid || (inProgress$ | async)"
            color="accent"
            dsh-button
            (click)="create()"
        >
            {{ c('create') }}
        </button>
    </ng-container>
</dsh-base-dialog>
