@use '~@angular/material' as mat;

@mixin button($text-color, $background-color) {
    background: $background-color;
    color: $text-color;
}

@mixin focused-background($color) {
    &.focused {
        background: $color;
    }
}

@mixin dsh-button-theme($theme) {
    $foreground: map-get($theme, foreground);
    $background: map-get($theme, background);
    $accent: map-get($theme, accent);
    $primary: map-get($theme, primary);
    $warn: map-get($theme, warn);

    .dsh {
        &-button,
        &-text-button,
        &-icon-button {
            background: transparent;
            color: map-get($foreground, text);

            &:focus:not(:disabled) {
                outline: none;
            }
        }

        &-button {
            &.dsh-primary {
                @include button(map-get($background, card), mat.get-color-from-palette($primary, default));
                @include focused-background(mat.get-color-from-palette($primary, default, 0.88));

                &:hover:not(:disabled) {
                    background: mat.get-color-from-palette($primary, default, 0.88) !important;
                }
            }

            &.dsh-accent {
                @include button(map-get($background, card), mat.get-color-from-palette($accent, default));
                @include focused-background(mat.get-color-from-palette($primary, default, 0.88));

                &:hover:not(:disabled) {
                    background: mat.get-color-from-palette($primary, default, 0.88) !important;
                }
            }

            &.dsh-warn {
                @include button(map-get($background, card), mat.get-color-from-palette($warn, 400));
                @include focused-background(mat.get-color-from-palette($warn, default, 0.88));

                &:hover:not(:disabled) {
                    background: mat.get-color-from-palette($warn, default, 0.88) !important;
                }
            }

            &:disabled {
                background: map-get($foreground, disabled-button);
            }
        }

        &-text-button {
            &.dsh-primary {
                @include button(mat.get-color-from-palette($primary, default), transparent);
                @include focused-background(mat.get-color-from-palette($primary, default, 0.12));

                &:hover:not(:disabled) {
                    background: mat.get-color-from-palette($primary, default, 0.2) !important;
                }
            }

            &.dsh-accent {
                @include button(mat.get-color-from-palette($primary, default), transparent);
                @include focused-background(mat.get-color-from-palette($primary, default, 0.12));

                &:hover:not(:disabled) {
                    background: mat.get-color-from-palette($primary, default, 0.2) !important;
                }
            }

            &.dsh-warn {
                @include button(mat.get-color-from-palette($warn, 400), transparent);
                @include focused-background(mat.get-color-from-palette($warn, default, 0.88));

                &:hover:not(:disabled) {
                    background: mat.get-color-from-palette($warn, default, 0.2) !important;
                }
            }

            &:disabled {
                @include button(map-get($foreground, disabled-button), transparent);
            }
        }

        &-icon-button {
            @include focused-background(map-get($background, selected-button));

            &.dsh-primary {
                @include button(map-get($background, card), mat.get-color-from-palette($primary, default));
                @include focused-background(mat.get-color-from-palette($primary, 300));
            }

            &.dsh-accent {
                @include button(map-get($background, card), mat.get-color-from-palette($accent, default));
                @include focused-background(mat.get-color-from-palette($accent, 200));
            }

            &.dsh-warn {
                @include button(map-get($background, card), mat.get-color-from-palette($warn, 400));
                @include focused-background(mat.get-color-from-palette($warn, 300));
            }

            &:disabled {
                background: map-get($foreground, disabled-button);
            }
        }
    }
}

@mixin dsh-button-typography($config) {
    .dsh {
        &-button,
        &-text-button,
        &-icon-button {
            font: {
                family: mat.font-family($config, button);
                size: mat.font-size($config, button);
                weight: mat.font-weight($config, button);
            }
        }
    }
}
