<ng-container
    *transloco="let t; scope: 'components'; read: 'components.createInternationalShopEntity'"
>
    <dsh-base-dialog [title]="t('title')" (cancel)="cancelCreation()">
        <dsh-shop-form [formControl]="form"></dsh-shop-form>
        <ng-container dshBaseDialogActions>
            <button
                [disabled]="form.invalid || !!(progress$ | async)"
                color="accent"
                dsh-button
                (click)="createShop()"
            >
                {{ t('send') }}
            </button>
        </ng-container>
    </dsh-base-dialog>
</ng-container>
