<div fxLayout="column" fxLayoutGap="32px">
    <dsh-deposits-filters
        [initParams]="initParams$ | async"
        (filtersChanged)="filtersChanged($event)"
    ></dsh-deposits-filters>
    <div fxLayout="column" fxLayoutGap="16px">
        <dsh-last-updated
            [lastUpdated]="lastUpdated$ | async"
            (update)="refreshList()"
        ></dsh-last-updated>
        <dsh-deposit-panels
            [expandedId]="expandedId$ | async"
            [hasMore]="hasMore$ | async"
            [isLoading]="isLoading$ | async"
            [list]="deposits$ | async"
            (expandedIdChanged)="expandedIdChange($event)"
            (showMore)="requestNextPage()"
        ></dsh-deposit-panels>
    </div>
</div>
<dsh-scroll-up></dsh-scroll-up>
