<div fxLayout="column" fxLayoutGap="32px">
    <dsh-deposits-filters
        [initParams]="initParams$ | async"
        (filtersChanged)="filtersChanged($event)"
    ></dsh-deposits-filters>
    <div fxLayout="column" fxLayoutGap="16px">
        <dsh-last-updated [lastUpdated]="lastUpdated$ | async" (update)="refreshList()"></dsh-last-updated>
        <dsh-deposit-panels
            [list]="deposits$ | async"
            [isLoading]="isLoading$ | async"
            [hasMore]="hasMore$ | async"
            [expandedId]="expandedId$ | async"
            (showMore)="requestNextPage()"
            (expandedIdChanged)="expandedIdChange($event)"
        ></dsh-deposit-panels>
    </div>
</div>
<dsh-scroll-up></dsh-scroll-up>
