[submodule "schemes/swag-analytics/v1"]
	path = schemes/swag-analytics/v1
	url = https://github.com/rbkmoney/swag-analytics.git
	branch = release/master
[submodule "schemes/swag-wallets/v0"]
	path = schemes/swag-wallets/v0
	url = https://github.com/rbkmoney/swag-wallets.git
	branch = release/v0
