<div *transloco="let t; scope: 'shops'; read: 'shops'" fxLayout="column" fxLayoutGap="32px">
    <div fxLayout="column" fxLayout.gt-sm="row" fxLayoutGap="16px" fxLayoutAlign="end">
        <button (click)="createShop()" color="accent" dsh-button>{{ t('createShop') }}</button>
    </div>
    <dsh-shops-list
        [shopList]="shops$ | async"
        [lastUpdated]="lastUpdated$ | async"
        [isLoading]="isLoading$ | async"
        [hasMore]="hasMore$ | async"
        (refresh)="refreshData()"
        (showMore)="showMore()"
    >
    </dsh-shops-list>
</div>
