<div
    *transloco="let t; scope: 'payment-section'; read: 'paymentSection.shops'"
    fxLayout="column"
    fxLayoutGap="32px"
>
    <!--    t(createShop)-->
    <!--    <div fxLayout="column" fxLayout.gt-sm="row" fxLayoutAlign="end" fxLayoutGap="16px">-->
    <!--                <button color="accent" dsh-button (click)="createShop()">{{ t('createShop') }}</button>-->
    <!--    </div>-->
    <dsh-shops-list
        [hasMore]="hasMore$ | async"
        [isLoading]="isLoading$ | async"
        [lastUpdated]="lastUpdated$ | async"
        [shopList]="shops$ | async"
        (refresh)="refreshData()"
        (showMore)="showMore()"
    >
    </dsh-shops-list>
</div>
