<ng-container
    *transloco="let t; scope: 'payment-section'; prefix: 'paymentSection.paymentDetails.details'"
>
    <div gdColumns="1fr" gdColumns.gt-sm="1fr 1fr 1fr" gdGap="24px">
        <div class="mat-headline-small mat-no-margin">
            {{ payment.amount | amountCurrency: payment.currency }}
        </div>
        <dsh-charge-amount [payment]="payment"></dsh-charge-amount>
        @if (payment.fee) {
            <dsh-payment-fee [payment]="payment"></dsh-payment-fee>
        }
        <dsh-payment-status [status]="payment.status"></dsh-payment-status>
        <dsh-payment-tool [paymentToolDetails]="payer.paymentToolDetails"></dsh-payment-tool>
        @if (resourcePayer) {
            <dsh-resource-payer [payer]="resourcePayer"></dsh-resource-payer>
        }
        <dsh-shop-name [shopName]="payment.shopID | shopDetails" gdColumn="1/-1"></dsh-shop-name>
        @if (payment.error?.code) {
            <dsh-details-item [title]="t('error')" gdColumn="1/-1">
                <div class="mat-body-medium">{{ payment.error | paymentErrorMessage | async }}</div>
            </dsh-details-item>
        }
        @if (additionalInfo; as info) {
            <dsh-additional-info [info]="info" gdColumn="1/-1"></dsh-additional-info>
        }
    </div>
</ng-container>
