<div class="wrapper" fxLayout="column" fxLayoutGap="8px">
    @if (!noSearch) {
        <mat-form-field>
            <mat-label>{{ label }}</mat-label>
            <input [ngModel]="searchStr" matInput (ngModelChange)="search($event)" />
        </mat-form-field>
    }
    <div class="options" fxLayout="column" fxLayoutGap="16px">
        @for (option of filtered; track option) {
            <mat-checkbox [checked]="selected.has(option.value)" (change)="toggle(option)">
                {{ option.label || option.value }}
            </mat-checkbox>
        }
    </div>
</div>
