<div
    *transloco="let p; scope: 'components'; read: 'components.russianBankAccountForm'"
    [formGroup]="control"
    fxLayout="column"
    fxLayoutGap="16px"
>
    <dsh-dadata-autocomplete
        [formControl]="searchControl"
        [label]="p('search')"
        type="bank"
        (optionSelected)="bankSelected($event)"
    ></dsh-dadata-autocomplete>

    <div gdColumns="1fr" gdColumns.gt-sm="1fr 1fr" gdGap="24px">
        <mat-form-field gdColumn="1/-1">
            <mat-label>{{ p('name') }}</mat-label>
            <input aria-label="bankName" formControlName="bankName" matInput required />
        </mat-form-field>
        <mat-form-field>
            <mat-label>{{ p('bik') }}</mat-label>
            <dsh-format-input format="bik" formControlName="bankBik" required></dsh-format-input>
        </mat-form-field>
        <mat-form-field>
            <mat-label>{{ p('postAccount') }}</mat-label>
            <dsh-format-input
                format="bankPostAccount"
                formControlName="bankPostAccount"
                required
            ></dsh-format-input>
        </mat-form-field>
        <mat-form-field gdColumn="1/-1">
            <mat-label>{{ p('account') }}</mat-label>
            <dsh-format-input
                format="bankAccount"
                formControlName="account"
                required
            ></dsh-format-input>
        </mat-form-field>
    </div>
</div>
