<dsh-card
    *transloco="let t; scope: 'payment-section'; read: 'paymentSection.paymentLink'"
    fxLayout="column"
    fxLayoutGap="24px"
>
    <ng-container *ngIf="(shops$ | async).length > 0">
        <dsh-create-invoice-or-invoice-template
            *ngIf="(currentStep$ | async) === step.InvoiceTemplate"
            [shops]="shops$ | async"
            (next)="nextInvoiceOrInvoiceTemplate($event)"
        ></dsh-create-invoice-or-invoice-template>
    </ng-container>
    <ng-container *ngIf="(shops$ | async).length === 0">
        <div class="dsh-headline">{{ t('noAvailableShops') }}</div>
    </ng-container>
    <div *ngIf="(currentStep$ | async) === step.PaymentLink" fxLayout="column" fxLayoutGap="32px">
        <ng-container>
            <h1 class="dsh-headline">
                {{ t('title') }}
            </h1>
            <div fxLayout="column" fxLayoutGap="24px">
                <dsh-create-payment-link-form
                    [formControl]="formControl"
                    [paymentLink]="paymentLink$ | async"
                    [paymentMethods]="paymentMethods$ | async"
                ></dsh-create-payment-link-form>
                <dsh-actions>
                    <button
                        [disabled]="!!(progress$ | async)"
                        mat-button
                        (click)="currentStep$.next(step.InvoiceTemplate)"
                    >
                        {{ t('back') }}
                    </button>

                    <ng-container
                        *ngIf="formControl.valid && !(paymentLink$ | async); else clearButton"
                    >
                        <button
                            [disabled]="!!(progress$ | async)"
                            mat-flat-button
                            (click)="create()"
                        >
                            {{ t('create') }}
                        </button>
                    </ng-container>
                    <ng-template #clearButton>
                        <button
                            [disabled]="!!(progress$ | async)"
                            mat-button
                            (click)="formControl.reset()"
                        >
                            {{ t('clearForm') }}
                        </button>
                    </ng-template>
                </dsh-actions>
            </div>
        </ng-container>
    </div>
</dsh-card>
