<!-- TODO: use ngxd/core or alternatives for dynamic components here. ngSwitch has problems in cycles -->
<dsh-details-item
    *transloco="
        let t;
        scope: 'payment-section';
        prefix: 'paymentSection.paymentDetails.paymentTool'
    "
    [title]="t('title')"
>
    @switch (paymentToolDetails.detailsType) {
        @case (Type.BankCard) {
            <dsh-bank-card [bankCard]="paymentToolDetails"></dsh-bank-card>
        }
        @case (Type.Wallet) {
            <dsh-digital-wallet [digitalWallet]="paymentToolDetails"></dsh-digital-wallet>
        }
        @case (Type.Terminal) {
            <dsh-payment-terminal [paymentTerminal]="paymentToolDetails"></dsh-payment-terminal>
        }
        @case (Type.MobileCommerce) {
            <dsh-mobile-commerce [details]="paymentToolDetails"></dsh-mobile-commerce>
        }
    }
</dsh-details-item>
