<dsh-row fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="24px">
    <ng-container *ngTemplateOutlet="claim ? tableGrid : loading; context: { $implicit: claim }"></ng-container>
</dsh-row>

<ng-template #loading>
    <dsh-row-label>Loading ...</dsh-row-label>
</ng-template>

<ng-template #tableGrid let-item>
    <dsh-row-label fxHide.lt-md fxFlex="15">{{ item.id }}</dsh-row-label>
    <dsh-row-label fxHide.lt-md fxFlex="25">
        <dsh-status
            [color]="item.status | claimStatusColor"
            >{{ (claimStatusDict$ | async)?.[item.status] }}</dsh-status
        >
    </dsh-row-label>
    <dsh-row-label fxFlex.gt-sm="30" fxFlex fxLayoutAlign="end center">
        <span fxHide.lt-md>{{ item.updatedAt | date : 'dd MMMM yyyy, HH:mm' }}</span>
        <span fxHide.gt-sm>{{ item.updatedAt | date : 'dd.MM.yyyy, HH:mm' }}</span>
    </dsh-row-label>
</ng-template>
