<div
    *transloco="let t; scope: 'organization-section'; prefix: 'organizationSection'"
    class="dsh-organizations"
    fxLayout="column"
    fxLayoutGap="32px"
>
    <h1 class="mat-display-medium">{{ t('header') }}</h1>

    @if (isDev) {
        <div fxLayout fxLayoutAlign="end">
            <button mat-flat-button (click)="createOrganization()">
                {{ t('createOrganization') }} (dev)
            </button>
        </div>
    }

    <div fxLayout="column" fxLayoutGap="16px">
        @if (isLoading$ | async) {
            <dsh-spinner fxFlexAlign="center"></dsh-spinner>
        } @else {
            <div fxLayout="column" fxLayoutGap="16px">
                <dsh-last-updated
                    [lastUpdated]="lastUpdated$ | async"
                    (update)="refresh()"
                ></dsh-last-updated>
                <dsh-organizations-list
                    [organizations]="organizations$ | async"
                    (changed)="refresh()"
                ></dsh-organizations-list>
                @if (hasMore$ | async) {
                    <dsh-show-more-panel (showMore)="showMore()"></dsh-show-more-panel>
                }
            </div>
        }
    </div>
</div>
<dsh-scroll-up></dsh-scroll-up>
