<div
    *transloco="let t; scope: 'payment-section'; read: 'paymentSection.integrations'"
    fxLayout="column"
    fxLayoutGap="32px"
>
    <nav [tabPanel]="tabPanel" fitInkBarToContent mat-tab-nav-bar style="width: fit-content">
        <ng-container *ngFor="let link of links">
            <a
                #rla="routerLinkActive"
                *ngIf="link.roles | isAccessAllowed"
                [active]="rla.isActive"
                [routerLink]="link.path"
                mat-tab-link
                routerLinkActive
            >
                <span>{{ link.label$ | async }}</span>
            </a>
        </ng-container>
    </nav>
    <mat-tab-nav-panel #tabPanel>
        <router-outlet></router-outlet>
    </mat-tab-nav-panel>
</div>
<dsh-scroll-up></dsh-scroll-up>
