<div
    *transloco="let p; scope: 'components'; read: 'components.existingBankAccount'"
    fxLayout="column"
    fxLayoutGap="16px"
>
    <dsh-shop-field [formControl]="control" [label]="p('shopLabel')" required></dsh-shop-field>
    <ng-container *transloco="let t; scope: 'components'; read: 'components.shared'">
        <div *ngIf="progress$ | async; else (error$ | async) ? error : loaded" class="dsh-body-1">
            {{ t('loading') }}
        </div>
        <ng-template #error>
            <div class="dsh-body-1">{{ error$ | async | errorMessage }}</div>
        </ng-template>
        <ng-template #loaded>
            <dsh-payout-tool-details
                *ngIf="payoutTool"
                [payoutToolDetails]="payoutTool.details"
            ></dsh-payout-tool-details>
        </ng-template>
    </ng-container>
</div>
