<form
    *transloco="let t; scope: 'payment-section'; read: 'paymentSection.webhook'"
    [formGroup]="form"
    fxLayout="column"
    fxLayoutGap="24px"
>
    <div fxLayout="column" fxLayoutGap="16px">
        <mat-form-field fxFlex>
            <mat-label>{{ t('createWebhook.shop') }}</mat-label>
            <mat-select formControlName="shopID" required>
                <mat-option *ngFor="let shop of shops$ | async" [value]="shop.id">
                    {{ shop.details.name }}
                </mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field fxFlex>
            <mat-label>{{ t('createWebhook.url') }}</mat-label>
            <input autocomplete="off" formControlName="url" matInput required type="text" />
        </mat-form-field>
    </div>
    <mat-divider></mat-divider>
    <div class="mat-title-large">{{ t('createWebhook.eventType') }}</div>
    <mat-radio-group
        formControlName="eventType"
        fxLayout="column"
        fxLayout.gt-sm
        fxLayoutGap="24px"
        (change)="changeActiveTopic($event.value)"
    >
        <mat-radio-button
            [checked]="(activeTopic$ | async) === 'InvoicesTopic'"
            fxFlex
            value="InvoicesTopic"
            >{{ t('createWebhook.eventTypes.invoices') }}</mat-radio-button
        >
        <mat-radio-button
            [checked]="(activeTopic$ | async) === 'CustomersTopic'"
            fxFlex
            value="CustomersTopic"
            >{{ t('createWebhook.eventTypes.customers') }}</mat-radio-button
        >
    </mat-radio-group>
    <mat-divider></mat-divider>
    <div fxLayout="column" fxLayoutGap="8px">
        <div class="mat-title-large">{{ t('createWebhook.events') }}</div>
        <div class="dsh-caption">{{ t('createWebhook.types') }}</div>
    </div>
    <div formArrayName="eventTypes" fxLayout="column" fxLayoutGap="16px">
        <div *ngFor="let eventType of eventTypes.controls; let i = index" [formGroupName]="i">
            <mat-checkbox class="dsh-body-1" formControlName="selected"
                ><span>{{
                    (eventType$ | async)?.[eventType.controls.eventName.value]
                }}</span></mat-checkbox
            >
        </div>
    </div>
</form>
