<div
    *transloco="let t; scope: 'wallet-section'; read: 'walletSection.withdrawals.details'"
    gdColumns="1fr"
    gdColumns.gt-md="1fr 1fr 1fr 1fr"
    gdColumns.gt-sm="1fr 1fr"
    gdGap="24px"
>
    <div class="dsh-headline">
        {{ withdrawal.body.amount | amountCurrency: withdrawal.body.currency }}
    </div>
    <dsh-details-item [title]="t('fee')">
        {{ withdrawal.fee.amount | amountCurrency: withdrawal.fee.currency }} ({{
            withdrawal.fee.amount / withdrawal.body.amount | percent: '1.0-2' : 'en'
        }})
    </dsh-details-item>
    <dsh-details-item [title]="t('status')">
        <dsh-status [color]="withdrawal.status | withdrawalStatusColor">
            {{ (withdrawalStatusDict$ | async)?.[withdrawal.status] }}
        </dsh-status>
    </dsh-details-item>
    <dsh-details-item [title]="t('wallet')">
        {{ withdrawal.wallet | walletDetails }}
    </dsh-details-item>
    <dsh-details-item *ngIf="withdrawal.failure" [title]="t('error')" gdColumn="1/-1">
        <div
            *transloco="
                let errors;
                scope: 'wallet-section';
                read: 'walletSection.withdrawals.details.errors'
            "
            class="mat-body-1"
        >
            <!-- t(failed) -->
            {{ errors(withdrawal.failure.code) }}
        </div>
    </dsh-details-item>
</div>
