<div
    *transloco="let t; scope: 'wallet-section'; read: 'walletSection.depositReverts'"
    fxLayout="column"
    fxLayoutGap="24px"
>
    <div class="mat-title-large">
        {{ t('reverts') }}
    </div>
    <div *ngIf="isLoading$ | async">
        {{ t('loading') }}
    </div>
    <ng-container *ngIf="reverts$ | async as reverts">
        <div *ngIf="reverts.length === 0 && !(isLoading$ | async)">
            {{ t('noReverts') }}
        </div>
        <ng-container *ngIf="reverts.length > 0">
            <div *ngFor="let revert of reverts; let i = index" fxLayout="column" fxLayoutGap="24px">
                <mat-divider *ngIf="i > 0"></mat-divider>
                <div class="mat-body-large">{{ t('revert') }} #{{ revert.id }}</div>
                <dsh-deposit-revert-details [revert]="revert"></dsh-deposit-revert-details>
            </div>
        </ng-container>
    </ng-container>
    <button
        *ngIf="(hasMore$ | async) && !(isLoading$ | async)"
        mat-flat-button
        (click)="fetchMore()"
    >
        <ng-container *transloco="let c; scope: 'components'; read: 'components.shared'">
            {{ c('showMore') }}
        </ng-container>
    </button>
</div>
