<mat-radio-group
    *transloco="let t; scope: 'components'; prefix: 'components.expandableRadioGroup'"
    [formControl]="control"
    fxLayout="column"
    fxLayoutGap="24px"
>
    @if (anyResponse) {
        <mat-radio-button [value]="null" fxFlex>
            <ng-container>{{ t('any') }}</ng-container>
        </mat-radio-button>
    }
    <div gdColumns="1fr" gdColumns.gt-sm="1fr 1fr" gdGap="24px">
        @for (choiceItem of displayedChoices; track choiceItem) {
            <mat-radio-button [value]="getChoiceId(choiceItem)">
                @if (getChoiceTemplate(choiceItem)) {
                    <ng-container *ngTemplateOutlet="getChoiceTemplate(choiceItem)"></ng-container>
                } @else {
                    {{ getChoiceLabel(choiceItem) }}
                }
            </mat-radio-button>
        }
    </div>
    @if (isValidPreviewCount) {
        <dsh-inline-show-all-toggle
            [opened]="isAllChoicesVisible"
            (click)="toggleStatusesVisibility()"
            >{{
                isAllChoicesVisible ? t('hideAllStatuses') : t('showAllStatuses')
            }}</dsh-inline-show-all-toggle
        >
    }
</mat-radio-group>
