<div
    *transloco="let p; scope: 'components'; read: 'components.existingContractForm'"
    fxLayout="column"
    fxLayoutGap="16px"
>
    <dsh-shop-field [formControl]="control" [label]="p('useShop')" required></dsh-shop-field>
    <ng-container
        *transloco="let t; scope: 'components'; read: 'components.shared'"
        class="mat-body-medium"
    >
        <div
            *ngIf="progress$ | async; else (error$ | async) ? error : contract && loaded"
            class="mat-body-medium"
        >
            {{ t('loading') }}
        </div>
        <ng-template #error>
            <div class="mat-body-medium">{{ error$ | async | errorMessage | async }}</div>
        </ng-template>
        <ng-template #loaded>
            <dsh-contractor-details [contractor]="contract.contractor"></dsh-contractor-details>
        </ng-template>
    </ng-container>
</div>
