<div
    *transloco="
        let t;
        scope: 'payment-section';
        prefix: 'paymentSection.operations.invoices.cartInfo'
    "
    fxLayout="column"
    fxLayoutGap="24px"
>
    <div class="mat-title-large">
        {{ t('title') }}
    </div>
    @for (line of cart; track line; let i = $index) {
        <dsh-invoice-cart-line [currency]="currency" [line]="line"></dsh-invoice-cart-line>
        @if (i < cart.length - 1) {
            <mat-divider></mat-divider>
        }
    }
</div>
