<div
    *transloco="let t; scope: 'wallet-section'; read: 'walletSection.wallets.mainInfo'"
    gdGap="24px"
    gdColumns="1fr"
    gdColumns.gt-sm="1fr 1fr 1fr"
    gdAlignColumns="start center"
>
    <div gdColumn.md="1/4">
        <div
            class="dsh-headline"
            *ngIf="walletAccount$ | async as account; else (isLoading$ | async) ? loading : error ? error : null"
        >
            {{ account.available.amount | amountCurrency : account.available.currency }}
        </div>
    </div>
    <ng-template #loading>
        <dsh-spinner size="30"></dsh-spinner>
    </ng-template>
    <ng-template #error>
        <div class="dsh-body-1">{{ t('fetchWalletAccountError') }}</div>
    </ng-template>
    <dsh-details-item gdColumn.md="1/3" [title]="t('name')">{{ wallet.name }}</dsh-details-item>
    <dsh-details-item [title]="t('createdAt')">{{ wallet.createdAt | date : 'dd.MM.yyyy, HH:mm' }}</dsh-details-item>
</div>
