<div
    *transloco="let t; scope: 'payment-section'; read: 'paymentSection.operations'"
    class="dsh-operations"
    fxLayout="column"
    fxLayoutGap="32px"
>
    <nav mat-tab-nav-bar>
        <ng-container *ngFor="let link of links">
            <a
                #rla="routerLinkActive"
                *ngIf="link.roles | isAccessAllowed: 'some'"
                [active]="rla.isActive"
                [routerLink]="link.path"
                mat-tab-link
                routerLinkActive
            >
                <span>{{ link.label$ | async }}</span>
            </a>
        </ng-container>
    </nav>
    <div>
        <router-outlet></router-outlet>
    </div>
</div>
<dsh-scroll-up [hideAfter]="200"></dsh-scroll-up>
