<dsh-row
    *transloco="
        let t;
        scope: 'payment-section';
        read: 'paymentSection.operations.refunds.headerRow'
    "
    color="primary"
    fxLayout="row"
    fxLayoutAlign="space-between center"
    fxLayoutGap="24px"
>
    <dsh-row-header-label fxFlex>{{ t('amount') }}</dsh-row-header-label>
    <dsh-row-header-label fxFlex>{{ t('status') }}</dsh-row-header-label>
    <dsh-row-header-label fxFlex fxHide.lt-md>{{ t('updatedAt') }}</dsh-row-header-label>
    <dsh-row-header-label fxFlex fxHide.lt-md> {{ t('shop') }} </dsh-row-header-label>
</dsh-row>
