<ng-container
    *transloco="let t; scope: 'payment-section'; read: 'paymentSection.operations.invoices.actions'"
>
    <dsh-base-dialog [title]="t('fulfillInvoice')" (cancel)="cancel()">
        <mat-form-field fxFlex>
            <mat-label>{{ t('reason') }}</mat-label>
            <input
                [formControl]="reason"
                aria-label="reason"
                autocomplete="off"
                matInput
                required
                type="text"
            />
        </mat-form-field>
        <div dshBaseDialogActions fxLayout="row" fxLayoutAlign="space-between center">
            <button
                [disabled]="!reason.valid"
                class="action-button"
                mat-flat-button
                (click)="accept()"
            >
                {{ t('confirm') }}
            </button>
        </div>
    </dsh-base-dialog>
</ng-container>
