<dsh-base-dialog
    *transloco="
        let t;
        scope: 'organization-section';
        read: 'organizationSection.renameOrganizationDialog'
    "
    [title]="t('title')"
    (cancel)="cancel()"
>
    <form [formGroup]="form" fxLayout="column">
        <mat-form-field>
            <mat-label>{{ t('name') }}</mat-label>
            <input autocomplete="off" formControlName="name" matInput required type="text" />
        </mat-form-field>
    </form>
    <ng-container dshBaseDialogActions>
        <button
            [disabled]="form.invalid || (inProgress$ | async)"
            color="accent"
            dsh-button
            (click)="update()"
        >
            {{ t('save') }}
        </button>
    </ng-container>
</dsh-base-dialog>
