<form
    *transloco="let t; scope: 'wallet-section'; read: 'walletSection.webhooks'"
    [formGroup]="form"
    fxLayout="column"
    fxLayoutGap="24px"
>
    <div fxLayout="column" fxLayoutGap="16px">
        <mat-form-field fxFlex>
            <mat-label>{{ t('createWebhook.identity') }}</mat-label>
            <mat-select formControlName="identityID" required>
                <mat-option *ngFor="let identity of identities$ | async" [value]="identity.id">
                    {{ identity.id }} {{ identity.name }}
                </mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field fxFlex>
            <mat-label>{{ t('createWebhook.url') }}</mat-label>
            <input autocomplete="off" formControlName="url" matInput required type="text" />
        </mat-form-field>
    </div>
    <mat-divider></mat-divider>
    <div class="mat-title-large">{{ t('createWebhook.eventType') }}</div>
    <mat-radio-group
        formControlName="eventType"
        fxLayout
        fxLayoutGap="24px"
        (change)="changeActiveTopic($event.value)"
    >
        <mat-radio-button
            [checked]="(activeTopic$ | async) === 'WithdrawalsTopic'"
            fxFlex
            value="WithdrawalsTopic"
            >{{ t('createWebhook.eventTypes.withdrawal') }}</mat-radio-button
        >
        <mat-radio-button
            [checked]="(activeTopic$ | async) === 'DestinationsTopic'"
            fxFlex
            value="DestinationsTopic"
            >{{ t('createWebhook.eventTypes.destination') }}</mat-radio-button
        >
    </mat-radio-group>
    <dsh-wallet-autocomplete-field
        *ngIf="(activeTopic$ | async) === 'WithdrawalsTopic'"
        [label]="t('createWebhook.wallet')"
        formControlName="walletID"
    >
    </dsh-wallet-autocomplete-field>
    <mat-divider></mat-divider>
    <div fxLayout="column" fxLayoutGap="8px">
        <div class="mat-title-large">{{ t('createWebhook.events') }}</div>
        <div class="dsh-caption">{{ t('createWebhook.types') }}</div>
    </div>
    <div formArrayName="eventTypes" fxLayout="column" fxLayoutGap="16px">
        <div *ngFor="let eventType of eventTypes.controls; let i = index" [formGroupName]="i">
            <mat-checkbox class="dsh-body-1" formControlName="selected"
                ><span>{{
                    (eventType$ | async)?.[eventType.controls.eventName.value]
                }}</span></mat-checkbox
            >
        </div>
    </div>
</form>
