<div
    *transloco="let t; scope: 'payment-section'; read: 'paymentSection.payouts'"
    fxLayout="column"
    fxLayoutGap="32px"
>
    <div
        gdAlignColumns="center center"
        gdAlignRows="space-between start"
        gdColumns="1fr"
        gdColumns.gt-sm="repeat(2, auto)"
        gdGap="32px"
    >
        <button color="accent" dsh-button (click)="createPayout()">
            {{ t('payouts.createPayout') }}
        </button>
        <dsh-payouts-search-filters
            [initParams]="params$ | async"
            [shops]="shops$ | async"
            gdRow.gt-sm="1"
            (searchParamsChanges)="searchParamsChanges($event)"
        ></dsh-payouts-search-filters>
    </div>
    <div fxLayout="column" fxLayoutGap="16px">
        <dsh-payouts-list
            [expandedId]="expandedId$ | async"
            [lastUpdated]="lastUpdated$ | async"
            [payouts]="payouts$ | async"
            (expandedIdChange)="expandedIdChange($event)"
            (refreshData)="refresh()"
        ></dsh-payouts-list>
        <dsh-show-more-panel
            *ngIf="hasMore$ | async"
            [isLoading]="isLoading$ | async"
            (showMore)="fetchMore()"
        ></dsh-show-more-panel>
    </div>
    <dsh-empty-search-result
        *ngIf="!(fetchErrors$ | async) && (payouts$ | async)?.length === 0"
    ></dsh-empty-search-result>
    <dsh-spinner *ngIf="isLoading$ | async" fxLayoutAlign="center"></dsh-spinner>
</div>
<dsh-scroll-up></dsh-scroll-up>
