<mat-form-field class="field">
    <mat-label>{{ label }}</mat-label>
    <input [formControl]="control" [matAutocomplete]="auto" [required]="required" matInput />
    <mat-autocomplete #auto="matAutocomplete" (optionSelected)="optionSelectedHandler($event)">
        <ng-container *ngIf="!(isOptionsLoading$ | async)">
            <mat-option
                *ngFor="let option of options$ | async"
                [value]="option.label"
                class="option"
            >
                <div
                    [innerHTML]="option.label | highlight: control.value"
                    class="dsh-dadata-autocomplete-option-header"
                ></div>
                <div
                    [innerHTML]="option.description | highlight: control.value"
                    class="dsh-dadata-autocomplete-option-description"
                ></div>
            </mat-option>
        </ng-container>
    </mat-autocomplete>
    <button *ngIf="control.value" mat-icon-button matSuffix (click)="clear()">
        <dsh-bi icon="x" size="lg"></dsh-bi>
    </button>
</mat-form-field>
