<div
    *transloco="let t; scope: 'wallet-section'; read: 'walletSection.webhooks'"
    fxLayout="column"
    fxLayoutGap="32px"
>
    <div
        fxLayout="row"
        fxLayout.lt-md="column"
        fxLayoutAlign="end"
        fxLayoutAlign.lt-md="center stretch"
        fxLayoutGap="24px"
    >
        <button mat-flat-button (click)="createWebhook()">{{ t('create') }}</button>
    </div>

    <ng-container *ngIf="(isLoading$ | async) || !(webhooks$ | async); else webhooksList">
        <div fxFlexAlign="center" fxLayout>
            <dsh-spinner></dsh-spinner>
        </div>
    </ng-container>
    <ng-template #webhooksList>
        <dsh-webhooks-list
            [expandedId]="expandedId$ | async"
            [lastUpdated]="lastUpdated$ | async"
            [webhooks]="webhooks$ | async"
            (expandedIdChange)="expandedIdChange($event)"
            (refreshData)="receiveWebhooks()"
        ></dsh-webhooks-list>
        <dsh-empty-search-result
            *ngIf="(webhooks$ | async)?.length === 0"
            [text]="t('emptyResult')"
        ></dsh-empty-search-result>
    </ng-template>
</div>
