<dsh-base-dialog
    *transloco="let t; scope: 'components'; read: 'components.createRussianShopEntity'"
    [title]="t('title')"
    (cancel)="cancelCreation()"
>
    <dsh-shop-form [formControl]="form"> </dsh-shop-form>
    <div dshBaseDialogActions fxLayout fxLayoutAlign="stretch" fxLayoutAlign.gt-sm="end">
        <button
            [disabled]="form.invalid"
            color="accent"
            dsh-button
            fxFlex
            fxFlex.gt-sm="none"
            (click)="createShop()"
        >
            {{ t('send') }}
        </button>
    </div>
</dsh-base-dialog>
