<div
    *transloco="let t; scope: 'payment-section'; read: 'paymentSection.apiKeys.list'"
    fxLayout="column"
    fxLayoutGap="32px"
>
    <div fxLayout="column" fxLayoutGap="24px">
        <div fxLayout="column" gdColumns="1fr 1fr 1fr" gdColumns.lt-md="1fr" gdGap="24px">
            <dsh-details-item [title]="t('name')">
                <div class="mat-body-medium">
                    {{ apiKey.name }}
                </div>
            </dsh-details-item>
            <dsh-details-item [title]="t('status')">
                <dsh-status [color]="statusColors[apiKey.status]">{{
                    (statusLabels$ | async)[apiKey.status]
                }}</dsh-status>
            </dsh-details-item>
            <dsh-details-item [title]="t('createdAt')">
                <div class="mat-body-medium">
                    {{ apiKey.createdAt | date: 'dd MMMM yyyy, HH:mm' }}
                </div>
            </dsh-details-item>
        </div>
        <mat-divider></mat-divider>
        <div fxLayout="column" fxLayoutGap="24px">
            <div>
                <button class="matv-error" mat-flat-button (click)="delete(apiKey)">
                    {{ t('delete') }}
                </button>
            </div>
        </div>
    </div>
</div>
