<div fxLayout="column" fxLayoutGap="32px">
    <dsh-payments-filters
        [initParams]="initParams$ | async"
        [realm]="realm$ | async"
        (filtersChanged)="filtersChanged($event)"
    ></dsh-payments-filters>
    <div fxLayout="column" fxLayoutGap="16px">
        <dsh-last-updated [lastUpdated]="lastUpdated$ | async" (update)="refreshList()">
        </dsh-last-updated>
        <dsh-payments-panels
            [expandedId]="expandedId$ | async"
            [hasMore]="hasMoreElements$ | async"
            [isLoading]="isLoading$ | async"
            [list]="payments$ | async"
            (expandedIdChanged)="expandedIdChange($event)"
            (showMore)="requestNextPage()"
        >
        </dsh-payments-panels>
    </div>
</div>
