<ng-container *transloco="let t; scope: 'payment-section'; read: 'paymentSection.webhook'">
    <dsh-base-dialog [title]="t('createWebhook.title')" (cancel)="cancel()">
        <dsh-create-webhook-form [form]="form"></dsh-create-webhook-form>
        <div
            *transloco="let c; scope: 'components'; read: 'components.shared'"
            dshBaseDialogActions
            fxLayout="row"
            fxLayoutAlign="stretch"
            fxLayoutAlign.gt-sm="end"
        >
            <button
                [disabled]="(isLoading$ | async) || !form.valid"
                class="action-button"
                color="accent"
                dsh-button
                fxFlex
                fxFlex.gt-sm="none"
                (click)="save()"
            >
                {{ t('createWebhook.create') }}
            </button>
        </div>
    </dsh-base-dialog>
</ng-container>
