<ng-container
    *transloco="let t; scope: 'payment-section'; read: 'paymentSection.operations.payments.filter'"
>
    <div fxLayout="column" fxLayoutGap="24px">
        <div class="mat-title-large" fxFlex>{{ t('card') }}</div>
        <form [formGroup]="control" fxLayout="column">
            <mat-form-field class="bin">
                <mat-label>{{ t('first6') }}</mat-label>
                <input
                    #binInput="matInput"
                    [maxLength]="6"
                    formControlName="bin"
                    matInput
                    placeholder="0000 00"
                    type="text"
                />
                <span *ngIf="binInput.focused || control.value.bin?.length" matTextSuffix
                    >**&nbsp;****&nbsp;****</span
                >
            </mat-form-field>
            <mat-form-field>
                <mat-label>{{ t('last4') }}</mat-label>
                <input
                    #panInput="matInput"
                    [maxLength]="4"
                    formControlName="pan"
                    matInput
                    placeholder="0000"
                    type="text"
                />
                <span *ngIf="panInput.focused || control.value.pan?.length" matTextPrefix
                    >****&nbsp;****&nbsp;****&nbsp;</span
                >
            </mat-form-field>
        </form>
    </div>
</ng-container>
