<div [formGroup]="control" fxLayout="column" fxLayoutGap="24px">
    <div
        *transloco="let p; scope: 'components'; read: 'components.newContractorForm'"
        fxLayout="column"
        fxLayoutGap="16px"
    >
        <dsh-dadata-autocomplete
            [formControl]="searchControl"
            [label]="p('form.search')"
            type="party"
            (optionSelected)="updateSuggestion($event)"
        ></dsh-dadata-autocomplete>
        <mat-form-field>
            <mat-label>{{ p('form.registeredName') }}</mat-label>
            <input
                autocomplete="off"
                formControlName="registeredName"
                matInput
                required
                type="text"
            />
        </mat-form-field>
        <mat-form-field>
            <mat-label>{{ p('form.inn') }}</mat-label>
            <dsh-format-input
                format="individualOrLegalEntityInn"
                formControlName="inn"
                required
            ></dsh-format-input>
        </mat-form-field>
        <mat-form-field>
            <mat-label>{{ p('form.registeredNumber') }}</mat-label>
            <dsh-format-input
                format="ogrn"
                formControlName="registeredNumber"
                required
            ></dsh-format-input>
        </mat-form-field>
        <mat-form-field>
            <mat-label>{{ p('form.actualAddress') }}</mat-label>
            <input
                autocomplete="off"
                formControlName="actualAddress"
                matInput
                required
                type="text"
            />
        </mat-form-field>
        <mat-form-field>
            <mat-label>{{ p('form.representativePosition') }}</mat-label>
            <input
                autocomplete="off"
                formControlName="representativePosition"
                matInput
                required
                type="text"
            />
        </mat-form-field>
        <mat-form-field>
            <mat-label>{{ p('form.representativeFullName') }}</mat-label>
            <input
                autocomplete="off"
                formControlName="representativeFullName"
                matInput
                required
                type="text"
            />
        </mat-form-field>
        <mat-form-field>
            <mat-label>{{ p('form.representativeDocument') }}</mat-label>
            <input
                autocomplete="off"
                formControlName="representativeDocument"
                matInput
                required
                type="text"
            />
        </mat-form-field>
    </div>

    <mat-divider></mat-divider>

    <dsh-russian-bank-account-form formControlName="bankAccount"></dsh-russian-bank-account-form>
</div>
