@use '@angular/material' as mat;
@use '@vality/ng-core' as v;

@import '../utils/map-get-strict';

@import '../dsh/theme';
@import '../mat/theme';
@import '../mat/typography';
@import '../dsh/typography';

@mixin theme($config, $background, $foreground) {
    $basic-theme: v.create-light-theme(
        map-merge(
            $config,
            (
                typography: dsh-typography-config(),
            )
        )
    );

    $background: map-merge(
        map-merge(map-get($basic-theme, background), $background),
        (
            // --- Custom ---
            hover: map-get-strict($background, hover),
            selected-button: map-get-strict($background, selected-button)
        )
    );

    $foreground: map-merge(
        map-merge(map-get($basic-theme, foreground), $foreground),
        (
            // --- Custom ---
            contrast-text: map-get-strict($foreground, contrast-text),
            light-text: map-get-strict($foreground, light-text),
            border: map-get-strict($foreground, border)
        )
    );

    $theme: map-merge(
        $basic-theme,
        (
            foreground: $foreground,
            background: $background,
            // --- Custom ---
            // Theme name (for CSS class name)
            name: map-get-strict($config, name),
            // If you need other colors, then replace with a palette
            success-base: map-get-strict($config, success-base),
            pending-base: map-get-strict($config, pending-base),
            warn-base: map-get-strict($config, warn-base),
        )
    );
    $typography: map-get($theme, typography);

    body.#{map-get($theme, name)} {
        @include v.all-component-themes($theme);
        @include v.typography-hierarchy($theme);
        @include v.app($theme);

        @include mat-typography($typography);
        @include dsh-typography($typography);

        @include mat-theme($theme);
        @include dsh-theme($theme);
    }
}
