@use 'sass:map';
@use '@angular/material' as mat;
@use '@vality/matez' as v;

@use '../utils/map-get-strict';

@use '../dsh/theme' as dsh-theme;
@use '../mat/theme' as mat-theme;
@use '../dsh/typography';
@use '../utils/mat-component-variants';
@use '../dsh/styles/dsh-base-typography';

@mixin theme($_palettes, $config, $background, $foreground) {
    $basic-theme: mat.m2-define-light-theme(
        map.merge(
            (
                color: map.merge(
                        (
                            // Define the palettes for your theme using the Material Design palettes available in palette.scss
                            // (imported above). For each palette, you can optionally specify a default, lighter, and darker
                            // hue. Available color palettes: https://material.io/design/color/
                            primary: mat.m2-define-palette(mat.$m2-indigo-palette),
                            accent: mat.m2-define-palette(mat.$m2-pink-palette),
                            // The warn palette is optional (defaults to red).
                            warn: mat.m2-define-palette(mat.$m2-red-palette)
                        ),
                        map.get($config, color)
                    ),
                typography: dsh-base-typography.dsh-typography-config(),
                // Custom palettes
                success: mat.m2-define-palette(mat.$m2-green-palette),
                pending: mat.m2-define-palette(mat.$m2-yellow-palette),
                neutral: mat.m2-define-palette(mat.$m2-gray-palette),
            ),
            map.remove($config, color)
        )
    );

    $background: map.merge(
        map.merge(map.get($basic-theme, background), $background),
        (
            // --- Custom ---
            hover: map-get-strict.map-get-strict($background, hover),
            selected-button: map-get-strict.map-get-strict($background, selected-button)
        )
    );

    $foreground: map.merge(
        map.merge(map.get($basic-theme, foreground), $foreground),
        (
            // --- Custom ---
            contrast-text: map-get-strict.map-get-strict($foreground, contrast-text),
            light-text: map-get-strict.map-get-strict($foreground, light-text),
            border: map-get-strict.map-get-strict($foreground, border)
        )
    );

    $theme: map.merge(
        $basic-theme,
        (
            foreground: $foreground,
            background: $background,
            // --- Custom ---
            // Theme name (for CSS class name)
            name: map-get-strict.map-get-strict($config, name),
            // If you need other colors, then replace with a palette
            success-base: map-get-strict.map-get-strict($config, success-base),
            pending-base: map-get-strict.map-get-strict($config, pending-base),
            warn-base: map-get-strict.map-get-strict($config, warn-base),
        )
    );
    $typography: map.get($theme, typography);

    body.#{map.get($theme, name)} {
        @include v.select-theme($theme);

        @include typography.dsh-typography($typography);

        @include dsh-theme.dsh-theme($theme);

        // Material 3 theme
        $_rest: (
            secondary: map.get($_palettes, secondary),
            neutral: map.get($_palettes, neutral),
            neutral-variant: map.get($_palettes, neutral-variant),
            error: map.get($_palettes, error),
        );
        $_primary: map.merge(map.get($_palettes, primary), $_rest);
        $_tertiary: map.merge(map.get($_palettes, tertiary), $_rest);

        $light-theme: mat.define-theme(
            (
                color: (
                    theme-type: light,
                    primary: $_primary,
                    tertiary: $_tertiary,
                ),
            )
        );

        @include mat.all-component-themes($light-theme);
        @include mat.typography-hierarchy($light-theme);
        @include v.typography-hierarchy($light-theme);
        @include mat-component-variants.mat-component-variants($light-theme);

        // Overrides
        @include mat-theme.mat-override-theme($light-theme);
    }
}
