<div
    *transloco="let t; scope: 'payment-section'; read: 'paymentSection.operations.invoices.actions'"
    fxLayout="column"
    fxLayoutGap="24px"
>
    <div class="mat-h2">
        {{ t('title') }}
    </div>
    <div fxLayout="column" fxLayout.gt-sm="row" fxLayoutGap="24px">
        <ng-container *ngIf="invoice.status === 'unpaid'">
            <button
                *ngIf="'PaymentLinks' | isAccessAllowed"
                color="accent"
                dsh-button
                (click)="createPaymentLink()"
            >
                {{ t('createPaymentLink') }}
            </button>
            <button color="warn" dsh-button (click)="cancelInvoice()">
                {{ t('cancelInvoice') }}
            </button>
        </ng-container>
        <ng-container *ngIf="invoice.status === 'paid'">
            <button color="accent" dsh-button (click)="fulfillInvoice()">
                {{ t('fulfillInvoice') }}
            </button>
        </ng-container>
    </div>
</div>
