<div
    *transloco="let t; scope: 'wallet-section'; prefix: 'walletSection.wallets.walletDeposits'"
    fxLayout="column"
    fxLayoutGap="24px"
>
    <div class="mat-title-large">{{ t('title') }}</div>

    @let deposits = deposits$ | async;
    @for (deposit of deposits; track deposit.id; let i = $index) {
        <dsh-wallet-deposit-details [deposit]="deposit"></dsh-wallet-deposit-details>
        @if (i < deposits.length - 1) {
            <mat-divider></mat-divider>
        }
    }
    @if (isLoading$ | async) {
        <div>
            <ng-container *transloco="let c; scope: 'components'; prefix: 'components.shared'">
                {{ c('loading') }}
            </ng-container>
        </div>
    }
    @if (errors$ | async) {
        <div>
            <ng-container *transloco="let c; scope: 'components'; prefix: 'components.shared'">
                {{ t('fetchError') }}
            </ng-container>
        </div>
    }
    @if ((hasMore$ | async) && (isLoading$ | async) === false && !(errors$ | async)) {
        <button mat-flat-button (click)="fetchMore()">
            <ng-container *transloco="let c; scope: 'components'; prefix: 'components.shared'">
                {{ c('showMore') }}
            </ng-container>
        </button>
    }
</div>
