<ng-container
    *transloco="let t; scope: 'organization-section'; read: 'organizationSection.organizationRoles'"
>
    <div *ngIf="isOwner; else notOwner" class="mat-body-medium">{{ t('owner') }}</div>

    <ng-template #notOwner>
        <div
            *ngIf="!rolesByGroup || rolesByGroup.length; else noRoles"
            gdColumns="1fr 1fr"
            gdGap="24px"
        >
            <ng-container *ngFor="let role of rolesByGroup">
                <dsh-collapse
                    *ngIf="role?.scopes?.length; else roleWithoutScopes"
                    [title]="(roleIdDict$ | async)?.[role.id]"
                >
                    <dsh-limited-list
                        *ngFor="let scope of role.scopes"
                        [title]="(resourceScopeIdDict$ | async)?.[scope.id] || '-'"
                    >
                        <dsh-limited-list-item *ngFor="let resourceId of scope.resourcesIds">
                            {{ resourceId | shopDetails }}
                        </dsh-limited-list-item>
                    </dsh-limited-list>
                </dsh-collapse>
                <ng-template #roleWithoutScopes>
                    <div class="mat-body-medium">{{ (roleIdDict$ | async)?.[role.id] }}</div>
                </ng-template>
            </ng-container>
        </div>
        <ng-template #noRoles><div class="mat-body-medium">-</div></ng-template>
    </ng-template>
</ng-container>
