<ng-container
    *transloco="
        let t;
        scope: 'organization-section';
        prefix: 'organizationSection.organizationRoles'
    "
>
    @if (isOwner) {
        <div class="mat-body-medium">{{ t('owner') }}</div>
    } @else {
        @if (!rolesByGroup || rolesByGroup.length) {
            <div gdColumns="1fr 1fr" gdGap="24px">
                @for (role of rolesByGroup; track role) {
                    @if (role?.scopes?.length) {
                        <dsh-collapse
                            [title]="$safeNavigationMigration((roleIdDict$ | async)?.[role.id])"
                        >
                            @for (scope of role.scopes; track scope) {
                                <dsh-limited-list
                                    [title]="(resourceScopeIdDict$ | async)?.[scope.id] || '-'"
                                >
                                    @for (resourceId of scope.resourcesIds; track resourceId) {
                                        <dsh-limited-list-item>
                                            {{ resourceId | shopDetails }}
                                        </dsh-limited-list-item>
                                    }
                                </dsh-limited-list>
                            }
                        </dsh-collapse>
                    } @else {
                        <div class="mat-body-medium">{{ (roleIdDict$ | async)?.[role.id] }}</div>
                    }
                }
            </div>
        } @else {
            <div class="mat-body-medium">-</div>
        }
    }
</ng-container>
