<ng-container
    *transloco="let t; scope: 'payment-section'; read: 'paymentSection.operations.refunds'"
>
    <div fxLayout="column" fxLayoutGap="24px">
        <div class="dsh-title" fxFlex>{{ t('refundStatus') }}</div>
        <dsh-expandable-radio-group [choices]="statuses" [control]="control" anyResponse fxFlex>
            <ng-container *ngFor="let status of statuses">
                <ng-template [dshExpandableRadioGroupItem]="status">
                    <span>{{ (refundStatusDict$ | async)?.[status] }}</span>
                </ng-template>
            </ng-container>
        </dsh-expandable-radio-group>
    </div>
</ng-container>
