<div
    fxLayout="column"
    fxLayoutGap="16px"
    *transloco="let t; scope: 'payment-section'; read: 'paymentSection.apiKeys.list'"
>
    <dsh-last-updated [lastUpdated]="lastUpdated" (update)="refreshData.emit()"></dsh-last-updated>
    <dsh-row fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="24px">
        <dsh-row-header-label fxFlex="50" fxFlex.lt-md="100">{{ t('name') | uppercase }}</dsh-row-header-label>
        <dsh-row-header-label fxFlex="25" fxHide.lt-md>{{ t('createdAt') | uppercase }}</dsh-row-header-label>
        <dsh-row-header-label fxFlex="25" fxHide.lt-md>{{ t('status') | uppercase }}</dsh-row-header-label>
    </dsh-row>
    <dsh-accordion
        fxLayout="column"
        fxLayoutGap="16px"
        (expandedChange)="expandedIdChange.emit($event)"
        [expanded]="expandedId"
    >
        <dsh-accordion-item *ngFor="let apiKey of apiKeys" #accordionItem>
            <dsh-row fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="24px">
                <dsh-row-label class="wrap-url" fxFlex="50" fxFlex.lt-md="100">
                    {{ apiKey.name }}
                </dsh-row-label>
                <dsh-row-label fxFlex="25" fxHide.lt-md>{{
                    apiKey.createdAt | date: 'dd MMMM yyyy, HH:mm'
                }}</dsh-row-label>
                <dsh-row-label fxFlex="25" fxHide.lt-md>{{ apiKey.status }}</dsh-row-label>
            </dsh-row>
            <dsh-accordion-item-content>
                <dsh-card fxLayout="column" fxLayoutGap="32px">
                    <dsh-accordion-item-content-header (collapse)="accordionItem.collapse($event)">
                        <div fxLayout="row" fxLayoutAlign="space-between center">
                            <div>{{ t('details') }} #{{ apiKey.id }}</div>
                            <div>{{ apiKey.createdAt | date: 'dd MMMM yyyy, HH:mm' }}</div>
                        </div>
                    </dsh-accordion-item-content-header>
                    <div fxLayout="column" fxLayoutGap="24px">
                        <div fxLayout="column" gdColumns="1fr 1fr 1fr" gdColumns.lt-md="1fr" gdGap="24px">
                            <dsh-details-item [title]="t('name')">
                                <div class="dsh-body-1">
                                    {{ apiKey.name }}
                                </div>
                            </dsh-details-item>
                            <dsh-details-item [title]="t('status')">
                                <div class="dsh-body-1">{{ apiKey.status }}</div>
                            </dsh-details-item>
                            <dsh-details-item [title]="t('createdAt')">
                                <div class="dsh-body-1">{{ apiKey.createdAt | date: 'dd MMMM yyyy, HH:mm' }}</div>
                            </dsh-details-item>
                        </div>
                        <mat-divider></mat-divider>
                        <div fxLayout="column" fxLayoutGap="24px">
                            <div>
                                <button dsh-button color="warn" (click)="delete(apiKey)">
                                    {{ t('delete') }}
                                </button>
                            </div>
                        </div>
                    </div>
                </dsh-card>
            </dsh-accordion-item-content>
        </dsh-accordion-item>
    </dsh-accordion>
</div>
