<div
    *ngIf="organization$ | async as organization"
    class="dsh-organization-details"
    fxLayout="column"
    fxLayoutGap="32px"
>
    <div fxLayout="column" fxLayoutGap="8px">
        <h2 class="dsh-display-1">{{ organization.name }}</h2>
        <ol
            *transloco="
                let b;
                scope: 'organization-section';
                read: 'organizationSection.organizationDetails.breadcrumb'
            "
            dsh-breadcrumb
        >
            <li dsh-breadcrumb-item>
                <a dshTextColor="secondary" routerLink="/organization-section/organizations">{{
                    b('organizations')
                }}</a>
            </li>
            <li dsh-breadcrumb-item>{{ organization.name }}</li>
        </ol>
    </div>

    <div fxLayout="column" fxLayoutGap="32px">
        <nav mat-tab-nav-bar>
            <a
                #rla="routerLinkActive"
                *ngFor="let link of links"
                [active]="rla.isActive"
                [routerLink]="link.path"
                mat-tab-link
                routerLinkActive
            >
                <ng-container>{{ link.label$ | async }}</ng-container>
            </a>
        </nav>
        <div>
            <router-outlet></router-outlet>
        </div>
    </div>
</div>
