<div
    *transloco="let claims; scope: 'claim-section'; read: 'claimSection.claimsList'"
    fxLayout="column"
    fxLayoutGap="16px"
>
    <dsh-last-updated [lastUpdated]="lastUpdated" (update)="refreshList()"></dsh-last-updated>
    <dsh-claim-row-header></dsh-claim-row-header>
    <ng-container *ngFor="let claim of claimList">
        <dsh-claim-row [claim]="claim"></dsh-claim-row>
    </ng-container>
    <dsh-show-more-panel
        *ngIf="hasMore"
        [isLoading]="isLoading"
        (showMore)="showMoreElements()"
    ></dsh-show-more-panel>
    <dsh-empty-search-result *ngIf="isEmptyList"></dsh-empty-search-result>
    <ng-container *ngIf="isLoading">
        <div fxFlexAlign="center" fxLayout>
            <dsh-spinner></dsh-spinner>
        </div>
    </ng-container>
</div>
