<dsh-base-dialog
    *transloco="let t; scope: 'payment-section'; read: 'paymentSection.apiKeys.createDialog'"
    [title]="t('title')"
    (cancel)="closeWithCancellation()"
>
    <div *ngIf="accessToken; else releaseApiKey">
        <mat-form-field style="width: 100%">
            <mat-label>{{ t('apiKey') }}</mat-label>
            <textarea matInput [value]="accessToken" readonly rows="5"></textarea>
        </mat-form-field>
    </div>
    <ng-template #releaseApiKey>
        <div fxLayout="column" fxLayoutGap="24px" [formGroup]="form">
            <mat-form-field style="width: 100%">
                <mat-label>{{ t('keyName') }}</mat-label>
                <input matInput required formControlName="name" />
            </mat-form-field>
            <div class="dsh-body-1">
                {{ t('desc') }}
            </div>
        </div>
    </ng-template>
    <ng-container dshBaseDialogActions>
        <button *ngIf="accessToken; else confirmActions" dsh-button (click)="copy()" color="primary">
            {{ t('copy') }}
        </button>
        <ng-template #confirmActions>
            <button dsh-button (click)="confirm()" color="primary" [disabled]="form.invalid || !!(progress$ | async)">
                {{ t('confirm') }}
            </button>
        </ng-template>
    </ng-container>
</dsh-base-dialog>
