<dsh-base-dialog
    *transloco="let t; scope: 'payment-section'; read: 'paymentSection.apiKeys.createDialog'"
    [title]="t('title')"
    (cancel)="closeWithCancellation()"
>
    <div *ngIf="apiKey; else init">
        <mat-form-field style="width: 100%">
            <mat-label>{{ t('apiKey') }}</mat-label>
            <textarea matInput [value]="apiKey" readonly rows="5"></textarea>
        </mat-form-field>
    </div>
    <ng-template #init>
        <div fxLayout="column" fxLayoutGap="24px" [formGroup]="form">
            <mat-form-field style="width: 100%">
                <mat-label>{{ t('keyName') }}</mat-label>
                <input matInput required formControlName="name" />
            </mat-form-field>
            <div class="dsh-body-1">
                {{ t('desc') }}
            </div>
        </div>
    </ng-template>
    <ng-container dshBaseDialogActions>
        <button
            *ngIf="apiKey; else init"
            dsh-button
            [cdkCopyToClipboard]="apiKey"
            (click)="copy()"
            color="primary"
            [disabled]="form.invalid"
        >
            {{ t('copy') }}
        </button>
        <ng-template>
            <button *ngIf="apiKey; else init" dsh-button (click)="confirm()" color="primary" [disabled]="form.invalid">
                {{ t('confirm') }}
            </button>
        </ng-template>
    </ng-container>
</dsh-base-dialog>
