<ng-container
    *transloco="let t; scope: 'wallet-section'; read: 'walletSection.withdrawals.filters'"
>
    <div fxLayout="column" fxLayoutGap="16px">
        <div class="mat-title-large" fxFlex>{{ t('amount') }}</div>
        <form [formGroup]="control" gdColumns="1fr" gdColumns.gt-sm="1fr 1fr" gdGap="0 24px">
            <mat-form-field>
                <mat-label>{{ t('amountFrom') }}</mat-label>
                <input formControlName="amountFrom" matInput type="number" />
            </mat-form-field>
            <mat-form-field>
                <mat-label>{{ t('amountTo') }}</mat-label>
                <input formControlName="amountTo" matInput type="number" />
            </mat-form-field>
        </form>
    </div>
</ng-container>
