<div
    *transloco="let c; scope: 'payment-section'; read: 'paymentSection.createInvoiceTemplate'"
    [formGroup]="control"
    fxLayout="column"
    fxLayoutGap="32px"
>
    <h1 class="dsh-headline">{{ c('title') }}</h1>
    <div fxLayout="column" fxLayoutGap="16px">
        <mat-form-field>
            <mat-label>{{ c('form.shop') }}</mat-label>
            <mat-select formControlName="shopID" required>
                <mat-option *ngFor="let shop of shops" [value]="shop.id">
                    {{ shop.details.name }}
                </mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field>
            <mat-label>{{ c('form.lifetime') }}</mat-label>
            <input
                [matDatepicker]="dateDatepicker"
                [min]="minDate"
                formControlName="lifetime"
                matInput
                required
            />
            <mat-datepicker-toggle [for]="dateDatepicker" matSuffix></mat-datepicker-toggle>
            <mat-datepicker #dateDatepicker></mat-datepicker>
        </mat-form-field>

        <label class="dsh-subheading-1">{{ c('form.invoiceTemplateType') }}:</label>
        <mat-radio-group formControlName="templateType" fxLayout fxLayoutGap="24px">
            <mat-radio-button
                *ngFor="let selectedInvoiceTemplateType of invoiceTemplateTypes"
                [value]="selectedInvoiceTemplateType"
                fxFlex="0 1 calc((100% - 24px * 2)/3)"
            >
                <ng-container
                    *transloco="
                        let t;
                        scope: 'payment-section';
                        read: 'paymentSection.createInvoiceTemplate.invoiceTemplateType'
                    "
                    [ngSwitch]="selectedInvoiceTemplateType"
                >
                    <ng-container *ngSwitchCase="'InvoiceTemplateMultiLine'">{{
                        t('InvoiceTemplateMultiLine')
                    }}</ng-container>
                    <ng-container *ngSwitchCase="'InvoiceTemplateSingleLine'">{{
                        t('InvoiceTemplateSingleLine')
                    }}</ng-container>
                </ng-container>
            </mat-radio-button>
        </mat-radio-group>

        <ng-container
            *ngIf="
                control.value.templateType === templateType.InvoiceTemplateMultiLine;
                else singleLine
            "
            formArrayName="cart"
        >
            <h2 class="dsh-subheading-1">{{ c('form.cart.title') }}:</h2>
            <ng-container *ngFor="let cart of cartForm.controls; let i = index" [formGroupName]="i">
                <mat-form-field>
                    <mat-label>{{ c('form.cart.description') }}</mat-label>
                    <input formControlName="product" matInput maxlength="1000" required />
                </mat-form-field>
                <div fxLayout fxLayoutGap="24px">
                    <mat-form-field fxFlex>
                        <mat-label>{{ c('form.cart.amount') }}</mat-label>
                        <dsh-format-input
                            format="amount"
                            formControlName="price"
                            required
                        ></dsh-format-input>
                    </mat-form-field>
                    <mat-form-field fxFlex>
                        <mat-label>{{ c('form.cart.quantity') }}</mat-label>
                        <dsh-format-input
                            format="quantity"
                            formControlName="quantity"
                            required
                        ></dsh-format-input>
                    </mat-form-field>
                    <mat-form-field fxFlex>
                        <mat-label>{{ c('form.taxMode') }}</mat-label>
                        <mat-select formControlName="taxMode" required>
                            <mat-option [value]="withoutVAT">{{ c('form.withoutVAT') }}</mat-option>
                            <mat-option *ngFor="let taxMode of taxModes" [value]="taxMode">
                                {{ taxMode }}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div fxLayout="column" fxLayoutAlign=" end">
                    <button
                        *ngIf="i !== 0 || (i === 0 && cartForm.controls.length > 1)"
                        color="warn"
                        dsh-text-button
                        (click)="removeProduct(i)"
                    >
                        {{ c('form.cart.remove') }}
                    </button>
                </div>
            </ng-container>
            <mat-divider></mat-divider>
            <div fxLayout fxLayoutAlign="space-between center" fxLayoutGap="24px">
                <div>
                    {{ c('form.cart.summary') }}:
                    {{ summary$ | async | currency: control.value.currency }}
                </div>
                <button color="accent" dsh-text-button (click)="addProduct()">
                    {{ c('form.cart.add') }}
                </button>
            </div>
        </ng-container>

        <ng-template #singleLine>
            <mat-form-field>
                <mat-label>{{ c('form.product') }}</mat-label>
                <input formControlName="product" matInput maxlength="1000" required />
            </mat-form-field>

            <mat-form-field>
                <mat-label>{{ c('form.taxMode') }}</mat-label>
                <mat-select formControlName="taxMode" required>
                    <mat-option [value]="withoutVAT">{{ c('form.withoutVAT') }}</mat-option>
                    <mat-option *ngFor="let taxMode of taxModes" [value]="taxMode">{{
                        taxMode
                    }}</mat-option>
                </mat-select>
            </mat-form-field>

            <label class="dsh-subheading-1">{{ c('form.invoiceTemplateTypeCostType') }}:</label>
            <mat-radio-group formControlName="costType" fxLayout fxLayoutGap="24px">
                <mat-radio-button
                    *ngFor="let selectedInvoiceTemplateCostType of invoiceTemplateCostTypes"
                    [value]="selectedInvoiceTemplateCostType"
                    fxFlex
                >
                    <ng-container
                        *transloco="
                            let t;
                            scope: 'payment-section';
                            read: 'paymentSection.createInvoiceTemplate.invoiceTemplateCostType'
                        "
                        [ngSwitch]="selectedInvoiceTemplateCostType"
                    >
                        <ng-container *ngSwitchCase="'InvoiceTemplateLineCostFixed'">{{
                            t('InvoiceTemplateLineCostFixed')
                        }}</ng-container>
                        <ng-container *ngSwitchCase="'InvoiceTemplateLineCostRange'">{{
                            t('InvoiceTemplateLineCostRange')
                        }}</ng-container>
                        <ng-container *ngSwitchCase="'InvoiceTemplateLineCostUnlim'">{{
                            t('InvoiceTemplateLineCostUnlim')
                        }}</ng-container>
                    </ng-container>
                </mat-radio-button>
            </mat-radio-group>

            <mat-form-field
                *ngIf="control.value.costType === costType.InvoiceTemplateLineCostFixed"
            >
                <mat-label>{{ c('form.cost') }}</mat-label>
                <dsh-format-input
                    format="amount"
                    formControlName="amount"
                    required
                ></dsh-format-input>
            </mat-form-field>

            <div
                *ngIf="control.value.costType === costType.InvoiceTemplateLineCostRange"
                formGroupName="range"
                fxLayout
                fxLayoutGap="24px"
            >
                <mat-form-field fxFlex>
                    <mat-label>{{ c('form.lowerBound') }}</mat-label>
                    <dsh-format-input
                        format="amount"
                        formControlName="lowerBound"
                        required
                    ></dsh-format-input>
                </mat-form-field>
                <mat-form-field fxFlex>
                    <mat-label>{{ c('form.upperBound') }}</mat-label>
                    <dsh-format-input
                        format="amount"
                        formControlName="upperBound"
                        required
                    ></dsh-format-input>
                </mat-form-field>
            </div>
        </ng-template>
    </div>

    <div
        *transloco="let t; scope: 'components'; read: 'components.shared'"
        fxLayout
        fxLayoutAlign="space-between"
        fxLayoutGap="24px"
    >
        <button
            [disabled]="(isLoading$ | async) || control.pristine"
            color="accent"
            dsh-text-button
            (click)="clear()"
        >
            {{ t('clearForm') }}
        </button>
        <button
            [disabled]="control.invalid || (isLoading$ | async)"
            color="accent"
            dsh-button
            (click)="nextStep()"
        >
            {{ t('next') }}
        </button>
    </div>
</div>
