<div
    *transloco="let c; scope: 'payment-section'; read: 'paymentSection.createInvoiceTemplate'"
    [formGroup]="control"
    fxLayout="column"
    fxLayoutGap="24px"
>
    <h1 class="dsh-headline">{{ c('title') }}</h1>
    <div fxLayout="column" fxLayoutGap="16px">
        <mat-form-field>
            <mat-label>{{ c('form.shop') }}</mat-label>
            <mat-select formControlName="shopID" required>
                <mat-option *ngFor="let shop of shops" [value]="shop.id">
                    {{ shop.details.name }}
                </mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field>
            <mat-label>{{ c('form.lifetime') }}</mat-label>
            <input
                [matDatepicker]="dateDatepicker"
                [min]="minDate"
                formControlName="lifetime"
                matInput
                required
            />
            <mat-datepicker-toggle [for]="dateDatepicker" matSuffix></mat-datepicker-toggle>
            <mat-datepicker #dateDatepicker></mat-datepicker>
        </mat-form-field>

        <mat-form-field>
            <mat-label>{{ c('form.product') }}</mat-label>
            <input formControlName="product" matInput maxlength="1000" required />
        </mat-form-field>

        <mat-form-field>
            <mat-label>{{ c('form.cost') }}</mat-label>
            <dsh-format-input format="amount" formControlName="amount" required></dsh-format-input>
            <span matTextPrefix>{{ currency }}&nbsp;</span>
        </mat-form-field>

        <dsh-invoice-randomize-amount-form
            [currency]="currency"
            formControlName="randomizeAmount"
        ></dsh-invoice-randomize-amount-form>
    </div>

    <div
        *transloco="let t; scope: 'components'; read: 'components.shared'"
        fxLayout="row-reverse"
        fxLayoutAlign="space-between"
        fxLayoutGap="24px"
    >
        <button
            [disabled]="control.invalid || (isLoading$ | async)"
            mat-flat-button
            (click)="nextStep()"
        >
            {{ t('next') }}
        </button>
    </div>
</div>
