<div
    *transloco="let c; scope: 'components'; read: 'components.createPaymentLinkForm'"
    fxLayout="column"
    fxLayoutGap="32px"
>
    <div class="dsh-body-1">{{ c('description') }}</div>
    <div [formGroup]="control" fxLayout="column" fxLayoutGap="24px">
        <div fxLayout="column" fxLayoutGap="16px">
            <mat-form-field>
                <mat-label>{{ c('form.name') }}</mat-label>
                <input formControlName="name" matInput />
            </mat-form-field>

            <mat-form-field>
                <mat-label>{{ c('form.description') }}</mat-label>
                <input formControlName="description" matInput />
            </mat-form-field>

            <mat-form-field>
                <mat-label>{{ c('form.email') }}</mat-label>
                <input formControlName="email" matInput type="email" />
            </mat-form-field>

            <mat-form-field>
                <mat-label>{{ c('form.redirectUrl') }}</mat-label>
                <input formControlName="redirectUrl" matInput type="url" />
            </mat-form-field>

            <mat-form-field>
                <mat-label>{{ c('form.locale') }}</mat-label>
                <mat-select formControlName="locale">
                    <mat-option>{{ c('localeCodes.auto') }}</mat-option>
                    @for (localeCode of localeCodes; track localeCode) {
                        <mat-option [value]="localeCode">{{
                            localeCode | localeCode | async
                        }}</mat-option>
                    }
                </mat-select>
            </mat-form-field>
        </div>

        <ng-container *ngIf="paymentLink">
            <mat-divider></mat-divider>
            <!-- TODO select to component and reuse + add style for button       -->
            <div fxLayout="column" fxLayout.gt-sm fxLayoutAlign.gt-sm=" center" fxLayoutGap="16px">
                <mat-form-field fxFlex>
                    <mat-label>{{ c('form.link') }}</mat-label>
                    <input [value]="paymentLink" disabled matInput readonly />
                </mat-form-field>
                <button
                    [cdkCopyToClipboard]="paymentLink"
                    color="accent"
                    dsh-button
                    (cdkCopyToClipboardCopied)="copied($event)"
                >
                    {{ c('form.copy') }}
                </button>
            </div>
        </ng-container>
    </div>
</div>
