<dsh-filters-group [formGroup]="form">
    <dsh-date-range-filter
        [default]="defaultDateRange"
        [maxDate]="defaultDateRange.end"
        formControlName="dateRange"
    ></dsh-date-range-filter>
    @if ((currencies$ | async)?.length > 1) {
        <dsh-currency-filter
            [currencies]="currencies$ | async"
            formControlName="currency"
        ></dsh-currency-filter>
    }
    <dsh-shops-filter
        [shops]="shopsByCurrency$ | async"
        formControlName="shopIDs"
    ></dsh-shops-filter>
</dsh-filters-group>
