:host {
    display: flex;
    align-items: center;
    min-height: 32px;
    padding: 8px;

    & > ::ng-deep button,
    & > ::ng-deep mat-checkbox,
    & > ::ng-deep mat-radio-button {
        margin: auto;

        .mdc-radio {
            padding: 0;
        }
        .mdc-label {
            display: none;
        }
    }

    & > ::ng-deep button {
        width: 100%;
    }
}
