<div fxLayout="column" fxLayoutGap="32px">
    <dsh-withdrawals-filters
        [initParams]="initParams$ | async"
        (filtersChanged)="filtersChanged($event)"
    ></dsh-withdrawals-filters>
    <div fxLayout="column" fxLayoutGap="16px">
        <dsh-withdrawals-list
            [expandedId]="expandedId$ | async"
            [lastUpdated]="lastUpdated$ | async"
            [withdrawals]="withdrawals$ | async"
            (expandedIdChange)="expandedIdChange($event)"
            (refreshData)="refresh()"
        ></dsh-withdrawals-list>
        <dsh-show-more-panel
            *ngIf="hasMore$ | async"
            [isLoading]="isLoading$ | async"
            (showMore)="fetchMore()"
        >
        </dsh-show-more-panel>
        <dsh-empty-search-result
            *ngIf="!(withdrawals$ | async)?.length && !(doAction$ | async)"
        ></dsh-empty-search-result>
        <div *ngIf="isLoading$ | async" fxFlexAlign="center" fxLayout>
            <dsh-spinner></dsh-spinner>
        </div>
    </div>
</div>
<dsh-scroll-up></dsh-scroll-up>
