<div
    *transloco="let t; scope: 'components'; prefix: 'components.actionbar.organizations'"
    fxLayout="column"
    fxLayoutGap="16px"
>
    <dsh-menu-item
        header
        routerLink="/organization-section/organizations"
        (click)="selected.emit()"
    >
        {{ t('title') }}
    </dsh-menu-item>
    @for (org of orgs$ | async; track org) {
        <dsh-menu-item
            [fragment]="org.id"
            class="dsh-user-link"
            routerLink="/organization-section/organizations"
            (click)="selected.emit()"
        >
            {{ org.name }}
        </dsh-menu-item>
    }
    @if (!(orgs$ | async)?.length && (isLoading$ | async)) {
        <dsh-menu-item class="dsh-user-link" fxLayoutAlign="center">
            <dsh-spinner size="24"></dsh-spinner>
        </dsh-menu-item>
    }
</div>
