<div fxLayout="column" fxLayoutGap="32px">
    @if (noShops$ | async) {
        <dsh-no-shops-alert (action)="reloadShops()"></dsh-no-shops-alert>
    }
    <dsh-route-navbar-layout [routeName]="activeSection$ | async">
        <div fxLayout="row" fxLayout.gt-sm="column">
            @for (item of navbarItemConfig$ | async; track item) {
                @if (item.roles | isAccessAllowed) {
                    <dsh-navbar-item
                        #rla="routerLinkActive"
                        [active]="rla.isActive"
                        [icon]="item.icon"
                        [routerLink]="item.routerLink"
                        routerLinkActive
                        (activeChange)="setActiveSection($event, item)"
                    >
                        {{ item.label }}
                    </dsh-navbar-item>
                }
            }
            @if ((hasTestShops$ | async) || (isTestRealm$ | async) || isDev) {
                <dsh-navbar-item
                    *transloco="
                        let t;
                        scope: 'payment-section';
                        prefix: 'paymentSection.paymentSection.nav'
                    "
                    [toggleChecked]="isTestRealm$ | async"
                    icon="toggles"
                    withToggle="true"
                    (toggleChange)="testEnvToggle($event)"
                    >{{ t('testEnv') }}</dsh-navbar-item
                >
            }
        </div>
    </dsh-route-navbar-layout>
</div>
