<div fxLayout="column" fxLayoutGap="32px">
    <dsh-no-shops-alert *ngIf="noShops$ | async" (action)="navigateToShops()"></dsh-no-shops-alert>
    <dsh-route-navbar-layout [routeName]="activeSection$ | async">
        <div fxLayout="row" fxLayout.gt-sm="column">
            <dsh-navbar-item
                *ngFor="let item of navbarItemConfig$ | async"
                [routerLink]="item.routerLink"
                routerLinkActive
                #rla="routerLinkActive"
                [active]="rla.isActive"
                [icon]="item.icon"
                (activeChange)="setActiveSection($event, item)"
                >{{ item.label }}</dsh-navbar-item
            >
            <dsh-navbar-item
                *transloco="let t; scope: 'payment-section'; read: 'paymentSection.paymentSection.nav'"
                withToggle="true"
                icon="toggles"
                [toggleChecked]="isTestRealm$ | async"
                (toggleChange)="testEnvToggle($event)"
                >{{ t('testEnv') }}</dsh-navbar-item
            >
        </div>
    </dsh-route-navbar-layout>
</div>
