<div fxLayout="column" fxLayoutGap="32px">
    <dsh-no-shops-alert *ngIf="noShops$ | async" (action)="navigateToShops()"></dsh-no-shops-alert>
    <dsh-route-navbar-layout [routeName]="activeSection$ | async">
        <div fxLayout="row" fxLayout.gt-sm="column">
            <ng-container *ngFor="let item of navbarItemConfig$ | async">
                <dsh-navbar-item
                    #rla="routerLinkActive"
                    *ngIf="item.roles | isAccessAllowed: 'some'"
                    [active]="rla.isActive"
                    [icon]="item.icon"
                    [routerLink]="item.routerLink"
                    routerLinkActive
                    (activeChange)="setActiveSection($event, item)"
                >
                    {{ item.label }}
                </dsh-navbar-item>
            </ng-container>
            <dsh-navbar-item
                *transloco="
                    let t;
                    scope: 'payment-section';
                    read: 'paymentSection.paymentSection.nav'
                "
                [toggleChecked]="isTestRealm$ | async"
                icon="toggles"
                withToggle="true"
                (toggleChange)="testEnvToggle($event)"
                >{{ t('testEnv') }}</dsh-navbar-item
            >
        </div>
    </dsh-route-navbar-layout>
</div>
