<dsh-donut-chart-item
    *transloco="let t; scope: 'payment-section'; read: 'paymentSection.analytics'"
    [chartData]="errorDistribution$ | async"
    [colors]="colors"
    [error]="error$ | async"
    [isLoading]="isLoading$ | async"
    [selectedErrorTitle]="currentErrorTitle$ | async"
    [spinnerType]="spinnerType"
    [title]="t('unsuccessfulPaymentReasons')"
    class="errors-chart"
    fxFlex
    (backDataSelect)="goBackDataSelection()"
    (dataSelect)="updateDataSelection($event)"
></dsh-donut-chart-item>
