<div fxLayout="column" fxLayoutGap="16px">
    <dsh-payments-row-header></dsh-payments-row-header>
    <ng-container *ngTemplateOutlet="panelsList"></ng-container>
    @if (!isLoading) {
        @if (isEmptyList) {
            <dsh-empty-search-result></dsh-empty-search-result>
        }
        @if (hasMore) {
            <dsh-show-more-panel (showMore)="showMoreElements()"> </dsh-show-more-panel>
        }
    } @else {
        <div fxFlexAlign="center" fxLayout>
            <dsh-spinner></dsh-spinner>
        </div>
    }
</div>

<ng-template #panelsList>
    <dsh-accordion
        [expanded]="expandedId"
        fxLayout="column"
        fxLayoutGap="16px"
        (expandedChange)="expandedIndexChange($event)"
    >
        @for (item of list; track trackPayment(i, item); let i = $index) {
            <dsh-accordion-item #accordionItem>
                <dsh-payments-row [payment]="item"></dsh-payments-row>
                <ng-template dshLazyPanelContent>
                    <dsh-card fxFlexFill fxLayout="column" fxLayoutGap="32px">
                        <dsh-accordion-item-content-header
                            (collapse)="accordionItem.collapse($event)"
                        >
                            <dsh-payment-detail-header
                                [changedDate]="item.statusChangedAt"
                                id="{{ item.invoiceID }}.{{ item.id }}"
                            ></dsh-payment-detail-header>
                        </dsh-accordion-item-content-header>
                        <dsh-payment-details [payment]="item"></dsh-payment-details>
                    </dsh-card>
                </ng-template>
            </dsh-accordion-item>
        }
    </dsh-accordion>
</ng-template>
