<div
    *transloco="let t; scope: 'wallet-section'; read: 'walletSection.wallets'"
    class="dsh-wallets"
    fxLayout="column"
    fxLayoutGap="32px"
>
    <dsh-wallets-list
        [expandedId]="expandedId$ | async"
        [lastUpdated]="lastUpdated$ | async"
        [wallets]="wallets$ | async"
        (expandedIdChange)="expandedIdChange($event)"
        (refreshData)="refresh()"
    ></dsh-wallets-list>
    <dsh-empty-search-result
        *ngIf="!(wallets$ | async)?.length && (isLoading$ | async) === false"
        [text]="t('emptyResult')"
    ></dsh-empty-search-result>
    <dsh-show-more-panel
        *ngIf="hasMore$ | async"
        [isLoading]="isLoading$ | async"
        (showMore)="fetchMore()"
    >
    </dsh-show-more-panel>
    <div *ngIf="isLoading$ | async" fxFlexAlign="center" fxLayout>
        <dsh-spinner></dsh-spinner>
    </div>
</div>
<dsh-scroll-up></dsh-scroll-up>
