$dsh-filter-button-height: 40px;
$dsh-filter-button-border-radius: 24px;
$dsh-filter-button-padding: 0 24px;
$dsh-filter-button-max-width: 250px;
$dsh-filter-button-content-padding: 24px;

$dsh-filter-button-border-width: 1px;
$dsh-filter-button-active-border-width: 2px;

$dsh-filter-button-transition-time: 200ms;

:host {
    display: block;
}

:host:disabled {
    pointer-events: none;
}

.dsh-filter-button {
    border: $dsh-filter-button-border-width solid;
    border-radius: $dsh-filter-button-border-radius;
    height: $dsh-filter-button-height;
    padding: $dsh-filter-button-padding;
    outline: none;
    max-width: $dsh-filter-button-max-width;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    transition: border-color $dsh-filter-button-transition-time ease, color $dsh-filter-button-transition-time ease;

    &-content,
    &-actions {
        padding: $dsh-filter-button-content-padding;
    }

    &-active {
        border-width: $dsh-filter-button-active-border-width;
    }

    &:enabled {
        cursor: pointer;
    }
}
