<div style="overflow: auto">
    <dsh-nested-table
        *transloco="
            let t;
            scope: 'organization-section';
            read: 'organizationSection.changeRolesTable'
        "
        [cellsTemplates]="cellsTemplates"
        [columns]="columns$ | async"
        [data]="data$ | async"
        [footerTemplates]="footerTemplates"
        [headersTemplates]="{ add: headerTpl }"
    >
        <ng-template #headerTpl let-column="column">
            <button color="accent" dsh-button (click)="add()">{{ t('add') }}</button>
        </ng-template>
        <ng-template #roleCellTpl let-column="column" let-value="value">
            <mat-checkbox
                [checked]="checked(column.field, value?.id) | async"
                [disabled]="disabled(column.field, value?.id) | async"
                [indeterminate]="value?.id ? false : (isIntermediate(column.field) | async)"
                (change)="toggle(column.field, value?.id, $event.checked)"
            ></mat-checkbox>
        </ng-template>
        <ng-template #footerCellTpl let-column="column" let-value="value">
            <button
                [disabled]="!(isAllowRemoves$ | async)"
                color="warn"
                dsh-button
                (click)="remove(column.field)"
            >
                {{ t('remove') }}
            </button>
        </ng-template>
    </dsh-nested-table>
</div>
