<div
    *transloco="let t; scope: 'organization-section'; read: 'organizationSection.changeRolesTable'"
    class="wrapper"
>
    <span
        class="dsh-text-color-secondary dsh-body-1"
        style="text-decoration: underline; cursor: pointer"
        (click)="show()"
        >{{ t('info') }}</span
    >
    <dsh-nested-table
        [cellsTemplates]="cellsTemplates"
        [columns]="columns$ | async"
        [data]="data$ | async"
        [footerTemplates]="footerTemplates"
        [headersTemplates]="{ add: headerTpl }"
    >
        <ng-template #headerTpl let-column="column">
            <button color="accent" dsh-button (click)="add()">{{ t('add') }}</button>
        </ng-template>
        <ng-template #roleCellTpl let-column="column" let-value="value">
            <mat-checkbox
                *ngIf="
                    value?.scope !== 'Wallet' && column.field !== 'WalletManager';
                    else selectedTpl
                "
                [checked]="checked(column.field, value?.shop?.id, value?.scope) | async"
                [disabled]="
                    (disabled(column.field, value?.shop?.id, value?.scope) | async) || inProgress
                "
                [indeterminate]="
                    value?.shop || value?.scope === 'Wallet'
                        ? false
                        : (isIntermediate(column.field) | async)
                "
                (change)="toggle(column.field, value?.shop?.id, $event.checked)"
            ></mat-checkbox>
            <ng-template #selectedTpl>
                <dsh-selection
                    [selected]="checked(column.field, value?.shop?.id, value?.scope) | async"
                    class="selection"
                ></dsh-selection>
            </ng-template>
        </ng-template>
        <ng-template #footerCellTpl let-column="column" let-value="value">
            <button
                [disabled]="!(isAllowRemove(column?.field) | async) || inProgress"
                color="warn"
                dsh-button
                (click)="remove(column.field)"
            >
                {{ t('remove') }}
            </button>
        </ng-template>
    </dsh-nested-table>
</div>
