<dsh-nested-table
    *transloco="let t; scope: 'organization-section'; read: 'organizationSection.changeRolesTable'"
>
    <dsh-nested-table-row>
        <dsh-nested-table-col class="dsh-body-2"></dsh-nested-table-col>
        <dsh-nested-table-col
            *ngFor="let roleId of roleIds"
            class="dsh-body-2"
            fxLayoutAlign="center center"
            >{{ (roleIdDict$ | async)?.[roleId] }}</dsh-nested-table-col
        >
        <dsh-nested-table-col *ngIf="isAllowAdd">
            <button color="accent" dsh-button (click)="add()">{{ t('add') }}</button>
        </dsh-nested-table-col>
    </dsh-nested-table-row>

    <ng-container *ngIf="shops$ | async" [dshNestedTableCollapse]="true">
        <dsh-nested-table-row>
            <dsh-nested-table-col>
                <dsh-nested-table-collapse-button
                    >{{ t('shops') }} ({{
                        (shops$ | async).length
                    }})</dsh-nested-table-collapse-button
                >
            </dsh-nested-table-col>
            <dsh-nested-table-col *ngFor="let roleId of roleIds">
                <mat-checkbox
                    [checked]="checkedAll(roleId) | async"
                    [disabled]="disabledAll(roleId)"
                    [indeterminate]="isIntermediate(roleId) | async"
                    [ngClass]="{ disabled: disabledAll(roleId) }"
                    (change)="toggleAll(roleId)"
                ></mat-checkbox>
            </dsh-nested-table-col>
        </dsh-nested-table-row>
        <dsh-nested-table-group *dshNestedTableCollapseBody [displayedCount]="10">
            <dsh-nested-table-row *ngFor="let shop of shops$ | async">
                <dsh-nested-table-col>{{ shop.details.name }}</dsh-nested-table-col>
                <dsh-nested-table-col *ngFor="let roleId of roleIds">
                    <mat-checkbox
                        [checked]="checked(roleId, shop.id) | async"
                        [disabled]="disabled(roleId, shop.id) | async"
                        [ngClass]="{ disabled: (disabled(roleId, shop.id) | async) }"
                        (change)="toggle(roleId, shop.id, $event.checked)"
                    ></mat-checkbox>
                </dsh-nested-table-col>
            </dsh-nested-table-row>
        </dsh-nested-table-group>
    </ng-container>

    <dsh-nested-table-row *ngIf="isAllowRemoves">
        <dsh-nested-table-col class="dsh-body-2"></dsh-nested-table-col>
        <dsh-nested-table-col
            *ngFor="let roleId of roleIds"
            class="dsh-body-2"
            fxLayoutAlign="center center"
        >
            <button *ngIf="hasRemove(roleId)" color="warn" dsh-button (click)="remove(roleId)">
                {{ t('remove') }}
            </button>
        </dsh-nested-table-col>
    </dsh-nested-table-row>
</dsh-nested-table>
