<dsh-base-dialog
    *transloco="
        let t;
        scope: 'payment-section';
        read: 'paymentSection.paymentDetails.refunds.createRefund'
    "
    [title]="t('title')"
    (cancel)="decline()"
>
    <form [formGroup]="form" fxLayout="column">
        <dsh-max-length-input
            [label]="t('reason')"
            [maxLength]="maxReasonLength"
            class="create-refund-dialog-reason"
            formControlName="reason"
        ></dsh-max-length-input>
        <div fxLayout="column" fxLayoutGap="24px">
            <mat-checkbox
                [checked]="isPartialRefund"
                (change)="togglePartialRefund(!isPartialRefund)"
                >{{ t('partialRefund') }}</mat-checkbox
            >
            <mat-form-field
                *ngIf="isPartialRefund && amountControl"
                class="create-refund-dialog-amount"
            >
                <mat-label>{{ t('amount') }}</mat-label>
                <input [formControl]="amountControl" matInput required type="number" />
                <mat-hint
                    *ngIf="
                        availableRefundAmount$ | async as availableRefundAmount;
                        else loadingBalanceHint
                    "
                >
                    {{ t('availableRefund') }}
                    :
                    {{
                        availableRefundAmount.amount
                            | amountCurrency: availableRefundAmount.currency
                    }}
                    <!--                        <br />-->
                    <!--                        {{ t('balance') }}-->
                    <!--                        : {{ balance.accountBalance.amount | amountCurrency: balance.accountBalance.currency }}-->
                </mat-hint>
                <ng-template #loadingBalanceHint>
                    {{ t('balanceLoading') }}
                </ng-template>
            </mat-form-field>
        </div>
    </form>
    <ng-container dshBaseDialogActions>
        <button [disabled]="form.invalid" mat-flat-button (click)="confirm()">
            {{ t('confirm') }}
        </button>
    </ng-container>
</dsh-base-dialog>
