<div
    *transloco="let t; scope: 'components'; read: 'components.paymentDetails'"
    fxLayout.gt-sm="row"
    fxLayout="column"
    fxLayoutGap="24px"
>
    <dsh-details-item fxFlex [title]="t('amount')">{{
        payment.amount | amountCurrency : payment.currency
    }}</dsh-details-item>
    <dsh-details-item fxFlex [title]="t('status')">
        <dsh-payment-status [status]="payment.status"></dsh-payment-status>
    </dsh-details-item>
    <dsh-details-item fxFlex [title]="t('statusChangedAt')">{{
        payment.statusChangedAt || payment.createdAt | date : 'dd MMMM yyyy, HH:mm'
    }}</dsh-details-item>
</div>
