<form
    *transloco="let t; scope: 'components'; read: 'components.internationalShopForm'"
    fxLayout="column"
    fxLayoutGap="24px"
    [formGroup]="control"
>
    <dsh-shop-details-form formControlName="shopDetails"></dsh-shop-details-form>

    <mat-divider></mat-divider>

    <h2 class="dsh-title">{{ t('organization') }}</h2>

    <dsh-created-existing-switch formGroupName="orgDetails" [form]="control.controls.orgDetails">
        <dsh-new-contractor-form *dshCreatedCase formControlName="created"></dsh-new-contractor-form>
        <dsh-existing-contract-form
            *dshExistingCase
            formControlName="existing"
            entityType="InternationalLegalEntity"
        ></dsh-existing-contract-form>
    </dsh-created-existing-switch>

    <mat-divider></mat-divider>

    <dsh-payment-institution-field
        [label]="t('paymentInstitution')"
        formControlName="paymentInstitution"
    ></dsh-payment-institution-field>

    <mat-divider></mat-divider>

    <h2 class="dsh-title">{{ t('payoutToolTitle') }}</h2>

    <dsh-created-existing-switch formGroupName="bankAccount" [form]="control.controls.bankAccount">
        <dsh-international-bank-account-form
            *dshCreatedCase
            formControlName="created"
        ></dsh-international-bank-account-form>
        <dsh-existing-bank-account
            *dshExistingCase
            formControlName="existing"
            bankAccountType="PayoutToolDetailsInternationalBankAccount"
        ></dsh-existing-bank-account>
    </dsh-created-existing-switch>
</form>
