<dsh-filters-group [formGroup]="form">
    <dsh-date-range-filter
        [default]="defaultDateRange"
        [maxDate]="defaultDateRange.end"
        formControlName="dateRange"
    ></dsh-date-range-filter>
    <ng-container
        *transloco="let t; scope: 'core-components'; read: 'coreComponents.additionalFilters'"
    >
        <dsh-filter-button
            [active]="isAdditionalFilterApplied$ | async"
            (click)="openAdditionalFiltersDialog()"
        >
            {{ t('additionalFilters') }}
        </dsh-filter-button>
    </ng-container>
</dsh-filters-group>
