<ng-container
    *transloco="let t; scope: 'wallet-section'; read: 'walletSection.withdrawals.filters'"
>
    <form [formGroup]="control" gdColumns="1fr" gdColumns.gt-sm="1fr 1fr" gdGap="0 24px">
        <mat-form-field>
            <mat-label>{{ t('withdrawalID') }}</mat-label>
            <input formControlName="withdrawalID" matInput type="text" />
        </mat-form-field>
        <dsh-wallet-autocomplete-field
            [label]="t('walletID')"
            formControlName="walletID"
        ></dsh-wallet-autocomplete-field>
        <mat-form-field>
            <mat-label>{{ t('identityID') }}</mat-label>
            <input formControlName="identityID" matInput type="text" />
        </mat-form-field>
        <mat-form-field>
            <mat-label>{{ t('destinationID') }}</mat-label>
            <input formControlName="destinationID" matInput type="text" />
        </mat-form-field>
    </form>
</ng-container>
