<ng-container
    *transloco="
        let t;
        scope: 'payment-section';
        prefix: 'paymentSection.paymentDetails.additionalInfo'
    "
>
    <dsh-collapse [title]="t('title')">
        <div fxLayout="row" fxLayoutAlign="start center">
            @if (info.transactionInfo; as transactionInfo) {
                @if (transactionInfo.rrn) {
                    <dsh-details-item [title]="t('rrn')" fxFlex="33">
                        <div class="mat-body-medium">{{ transactionInfo.rrn }}</div>
                    </dsh-details-item>
                }
                @if (transactionInfo.approvalCode) {
                    <dsh-details-item [title]="t('approvalCode')" fxFlex="33">
                        <div class="mat-body-medium">{{ transactionInfo.approvalCode }}</div>
                    </dsh-details-item>
                }
            }
            @if (info.externalID) {
                <dsh-details-item [title]="t('externalId')" fxFlex="33">
                    <div class="mat-body-medium">{{ info.externalID }}</div>
                </dsh-details-item>
            }
        </div>
    </dsh-collapse>
</ng-container>
