<div fxLayout="column" fxLayoutGap="32px">
    <div
        gdAlignColumns="center center"
        gdAlignRows="space-between start"
        gdColumns="1fr"
        gdColumns.gt-sm="repeat(2, auto)"
        gdGap="32px"
    >
        <ng-container *ngIf="'CreateInvoice' | isAccessAllowed">
            <button
                *transloco="let i; scope: 'payment-section'; read: 'paymentSection.invoices'"
                [disabled]="(shops$ | async).length === 0"
                color="accent"
                dsh-button
                (click)="create()"
            >
                {{ i('createButton') }}
            </button>
        </ng-container>
        <dsh-invoices-search-filters
            [initParams]="params$ | async"
            [realm]="realm$ | async"
            gdRow.gt-sm="1"
            (filtersChanged)="searchParamsChanges($event)"
        ></dsh-invoices-search-filters>
    </div>
    <div fxLayout="column" fxLayoutGap="16px">
        <dsh-invoices-list
            [expandedId]="expandedId$ | async"
            [invoices]="invoices$ | async"
            [lastUpdated]="lastUpdated$ | async"
            (expandedIdChange)="expandedIdChange($event)"
            (refreshData)="refresh()"
        ></dsh-invoices-list>
        <dsh-show-more-panel
            *ngIf="hasMore$ | async"
            [isLoading]="isLoading$ | async"
            (showMore)="fetchMore()"
        ></dsh-show-more-panel>
    </div>
    <dsh-empty-search-result
        *ngIf="!(fetchErrors$ | async) && (invoices$ | async)?.length === 0"
    ></dsh-empty-search-result>
    <dsh-spinner *ngIf="isLoading$ | async" fxLayoutAlign="center"></dsh-spinner>
</div>
