<div fxLayout="column" fxLayoutGap="32px">
    <div
        gdAlignColumns="center center"
        gdAlignRows="space-between start"
        gdColumns="1fr"
        gdColumns.gt-sm="repeat(2, auto)"
        gdGap="32px"
    >
        @if (('CreateInvoice' | isAccessAllowed) && isDev) {
            <button
                *transloco="let i; scope: 'payment-section'; prefix: 'paymentSection.invoices'"
                [disabled]="(shops$ | async).length === 0"
                mat-flat-button
                (click)="create()"
            >
                {{ i('createButton') }} (dev)
            </button>
        }
        <dsh-invoices-search-filters
            [initParams]="params$ | async"
            [realm]="realm$ | async"
            gdRow.gt-sm="1"
            (filtersChanged)="searchParamsChanges($event)"
        ></dsh-invoices-search-filters>
    </div>
    <div fxLayout="column" fxLayoutGap="16px">
        <dsh-invoices-list
            [expandedId]="expandedId$ | async"
            [invoices]="invoices$ | async"
            [lastUpdated]="lastUpdated$ | async"
            (expandedIdChange)="expandedIdChange($event)"
            (refreshData)="refresh()"
        ></dsh-invoices-list>
        @if (hasMore$ | async) {
            <dsh-show-more-panel
                [isLoading]="isLoading$ | async"
                (showMore)="fetchMore()"
            ></dsh-show-more-panel>
        }
    </div>
    @if (!(fetchErrors$ | async) && (invoices$ | async)?.length === 0) {
        <dsh-empty-search-result></dsh-empty-search-result>
    }
    @if (isLoading$ | async) {
        <dsh-spinner fxLayoutAlign="center"></dsh-spinner>
    }
</div>
