<div fxLayout="column" fxLayoutGap="24px">
    <mat-radio-group
        *transloco="let t; scope: 'components'; read: 'components.createdExistingSwitch'"
        [formControl]="form.controls.type"
        fxLayout="column"
        fxLayout.gt-sm
        fxLayoutGap="24px"
        required
        (ngModelChange)="typeChanged($event)"
    >
        <mat-radio-button [value]="type.Created" fxFlex>
            {{ t('created') }}
        </mat-radio-button>
        <mat-radio-button [value]="type.Existing" fxFlex>
            {{ t('existing') }}
        </mat-radio-button>
    </mat-radio-group>
    <ng-container [ngSwitch]="form.value.type">
        <ng-container *ngSwitchCase="type.Created"
            ><ng-container *ngTemplateOutlet="createdCase?.templateRef"></ng-container
        ></ng-container>
        <ng-container *ngSwitchCase="type.Existing"
            ><ng-container *ngTemplateOutlet="existingCase?.templateRef"></ng-container
        ></ng-container>
    </ng-container>
</div>
