<dsh-base-dialog
    *transloco="let t; scope: 'payment-section'; read: 'paymentSection.apiKeys.deleteDialog'"
    [title]="t('title')"
    (cancel)="closeWithCancellation()"
>
    <div class="mat-body-medium">
        {{ t('desc') }}
    </div>
    <ng-container dshBaseDialogActions>
        <button
            [disabled]="!!(progress$ | async)"
            class="matv-error"
            mat-flat-button
            (click)="confirm()"
        >
            {{ t('confirm') }}
        </button>
    </ng-container>
</dsh-base-dialog>
