<dsh-card
    *transloco="let c; scope: 'components'; read: 'components.shared'"
    class="bar-chart"
    style="display: flex; flex-direction: column; gap: 16px"
>
    <dsh-card-title fxLayoutAlign="space-between">
        <div class="mat-title-large">{{ title }}</div>
        <dsh-spinner *ngIf="isLoading" [type]="spinnerType" size="28"></dsh-spinner>
    </dsh-card-title>
    <dsh-card-content
        *transloco="let t; scope: 'payment-section'; read: 'paymentSection.analytics'"
    >
        <div *ngIf="!error; else onError">
            <dsh-bar-chart
                *ngIf="chartData; else noData"
                [colors]="colors"
                [series]="chartData.series"
            ></dsh-bar-chart>
            <ng-template #noData>
                {{ t('noData') }}
            </ng-template>
        </div>
        <ng-template #onError>
            {{ c('httpError') }}
        </ng-template>
    </dsh-card-content>
</dsh-card>
