<dsh-card *transloco="let c; scope: 'components'; read: 'components.shared'" class="bar-chart">
    <dsh-card-title fxLayoutAlign="space-between">
        <h1 class="mat-h2">{{ title }}</h1>
        <dsh-spinner *ngIf="isLoading" [type]="spinnerType" size="30"></dsh-spinner>
    </dsh-card-title>
    <dsh-card-content
        *transloco="let t; scope: 'payment-section'; read: 'paymentSection.analytics'"
    >
        <div *ngIf="!error; else onError">
            <dsh-bar-chart
                *ngIf="chartData; else noData"
                [colors]="colors"
                [series]="chartData.series"
            ></dsh-bar-chart>
            <ng-template #noData>
                {{ t('noData') }}
            </ng-template>
        </div>
        <ng-template #onError>
            {{ c('httpError') }}
        </ng-template>
    </dsh-card-content>
</dsh-card>
