<div
    *transloco="let t; scope: 'organization-section'; read: 'organizationSection'"
    fxLayout="column"
    fxLayoutGap="16px"
>
    <dsh-row color="primary" fxLayout fxLayoutAlign=" center" fxLayoutGap="24px">
        <dsh-row-header-label>{{ t('headerRow.name') }}</dsh-row-header-label>
    </dsh-row>
    <dsh-accordion
        *dshEmpty="!organizations?.length; text: t('emptyOrganizations')"
        [expanded]="expandedId$ | async"
        fxLayout="column"
        fxLayoutGap="16px"
        (expandedChange)="expandedIdChange($event)"
    >
        <dsh-accordion-item
            #accordionItem
            *ngFor="let organization of organizations; trackBy: trackOrganization"
        >
            <dsh-row fxLayout fxLayoutAlign=" center" fxLayoutGap="24px">
                <dsh-row-label>
                    {{ organization.name }}
                </dsh-row-label>
            </dsh-row>
            <ng-template dshLazyPanelContent>
                <dsh-card fxLayout="column" fxLayoutGap="32px">
                    <dsh-accordion-item-content-header (collapse)="accordionItem.collapse($event)">
                        <div fxLayout fxLayoutAlign="space-between">
                            <div>{{ organization.id }}</div>
                            <div>{{ organization.createdAt | date: 'dd MMMM yyyy, HH:mm' }}</div>
                        </div>
                    </dsh-accordion-item-content-header>
                    <dsh-organization
                        [organization]="organization"
                        (changed)="changed.emit()"
                    ></dsh-organization>
                </dsh-card>
            </ng-template>
        </dsh-accordion-item>
    </dsh-accordion>
</div>
