<div
    *transloco="let t; scope: 'components'; read: 'components.internationalBankAccountForm'"
    fxLayout="column"
    fxLayoutGap="24px"
    [formGroup]="control"
>
    <div fxLayout="column" fxLayoutGap="16px">
        <dsh-payout-tool-form formControlName="payoutTool"></dsh-payout-tool-form>
        <dsh-currency-autocomplete-field formControlName="currency"></dsh-currency-autocomplete-field>
    </div>
    <mat-checkbox
        [checked]="control.controls.correspondentPayoutTool.enabled"
        (change)="toggleCorrespondentPayoutTool()"
        >{{ t('correspondentAccount') }}</mat-checkbox
    >
    <dsh-payout-tool-form
        *ngIf="control.controls.correspondentPayoutTool.enabled"
        formControlName="correspondentPayoutTool"
    ></dsh-payout-tool-form>
</div>
