<div
    *transloco="let t; scope: 'wallet-section'; read: 'walletSection.wallets.accountInfo'"
    fxLayout="column"
    fxLayoutGap="24px"
>
    <div class="mat-title-large">{{ t('title') }}</div>
    <div class="mat-body-medium">{{ t('description') }}</div>
    <div
        *ngIf="
            walletAccount$ | async as account;
            else (isLoading$ | async) ? loading : (error$ | async) ? error : null
        "
        gdColumns="1fr"
        gdColumns.gt-sm="1fr 1fr 1fr"
        gdGap="24px"
    >
        <dsh-details-item [title]="t('own')">{{
            account.own.amount | amountCurrency: account.own.currency
        }}</dsh-details-item>
        <dsh-details-item [title]="t('amount')">{{
            account.available.amount | amountCurrency: account.available.currency
        }}</dsh-details-item>
    </div>
    <ng-template #loading>
        <div
            *transloco="let c; scope: 'components'; read: 'components.shared'"
            class="mat-body-medium"
        >
            {{ c('loading') }}
        </div>
    </ng-template>
    <ng-template #error>
        <div class="mat-body-medium">{{ t('fetchWalletAccountError') }}</div>
    </ng-template>
</div>
