$height: 48px;

:host {
    height: $height;
}

mat-icon {
    cursor: pointer;
    outline: none;

    &,
    ::ng-deep svg {
        height: 100%;
        width: auto;
    }
}

.brand-wrapper {
    height: 100%;
}
