<dsh-base-dialog
    *transloco="let d; scope: 'payment-section'; read: 'paymentSection.createInvoiceDialog'"
    [title]="d('title')"
    (cancel)="cancel()"
>
    <dsh-create-invoice-form [formControl]="formControl" [shops]="shops"></dsh-create-invoice-form>
    <ng-container
        *transloco="let t; scope: 'components'; read: 'components.shared'"
        dshBaseDialogActions
    >
        <button [disabled]="formControl.invalid" mat-flat-button (click)="create()">
            {{ t('create') }}
        </button>
    </ng-container>
</dsh-base-dialog>
