<dsh-base-dialog
    *transloco="let d; scope: 'payment-section'; read: 'paymentSection.createInvoiceDialog'"
    (cancel)="cancel()"
    [title]="d('title')"
>
    <dsh-create-invoice-form
        [shops]="shops"
        [formControl]="formControl"
        (valid)="valid = $event"
        (empty)="empty = $event"
    ></dsh-create-invoice-form>
    <ng-container dshBaseDialogActions *transloco="let t; scope: 'components'; read: 'components.shared'">
        <button dsh-text-button color="accent" [disabled]="empty" (click)="formControl.reset()">
            {{ t('clearForm') }}
        </button>
        <button dsh-button (click)="create()" color="accent" [disabled]="!valid">
            {{ t('create') }}
        </button>
    </ng-container>
</dsh-base-dialog>
