<dsh-base-dialog
    *transloco="let d; scope: 'payment-section'; read: 'paymentSection.createInvoiceDialog'"
    (cancel)="cancel()"
    [title]="d('title')"
>
    <dsh-create-invoice-form [shops]="shops" [formControl]="formControl"></dsh-create-invoice-form>
    <ng-container dshBaseDialogActions *transloco="let t; scope: 'components'; read: 'components.shared'">
        <button dsh-text-button color="accent" [disabled]="formControl.pristine" (click)="formControl.reset()">
            {{ t('clearForm') }}
        </button>
        <button dsh-button (click)="create()" color="accent" [disabled]="formControl.invalid">
            {{ t('create') }}
        </button>
    </ng-container>
</dsh-base-dialog>
