<div
    *transloco="let t; scope: 'payment-section'; read: 'paymentSection.webhook.key'"
    style="display: flex; flex-direction: column; gap: 24px"
>
    <div class="mat-title-large">{{ t('title') }}</div>
    <div class="ym-hide-content" fxLayout="column" fxLayoutGap="20px">
        <div class="mat-body-small">
            {{ t('publicKey') }}
        </div>
        <div class="mat-body-medium wrap-key">
            {{ key }}
        </div>
        <div>
            <button
                [cdkCopyToClipboard]="key"
                mat-button
                (cdkCopyToClipboardCopied)="copied($event)"
            >
                {{ t('buttons.copy') }}
            </button>
        </div>
    </div>
</div>
