<div
    [ngClass]="{ 'dsh-navbar-item-active': active }"
    class="dsh-navbar-item"
    fxLayout
    fxLayoutAlign="start stretch"
>
    <div class="dsh-navbar-item-content" fxFlex fxLayoutAlign="start center" fxLayoutGap="16px">
        <div fxFlex fxLayout fxLayoutAlign="start center" fxLayoutGap="24px" (click)="toggle()">
            <dsh-bi [icon]="icon" [size]="iconSize$ | async"></dsh-bi>
            <div fxHide.lt-md>
                <ng-content></ng-content>
            </div>
        </div>
        <mat-slide-toggle
            *ngIf="withToggle"
            [checked]="toggleChecked"
            fxHide.lt-md
            (change)="slideToggleChange($event)"
        ></mat-slide-toggle>
    </div>
</div>
