<div fxLayout="row wrap" fxLayoutAlign="none center" fxLayoutGap="8px">
    <div class="mat-body-medium">{{ bankCard.cardNumberMask | bankCard }}</div>
    @if (
        getPaymentSystemIconConfig($safeNavigationMigration(bankCard?.paymentSystem));
        as iconConfig
    ) {
        <mat-icon
            [style.height]="iconConfig.height"
            [style.width]="iconConfig.width"
            [svgIcon]="iconConfig.iconName"
        ></mat-icon>
    }
    @if (
        getTokenProviderIconConfig($safeNavigationMigration(bankCard?.tokenProvider));
        as iconConfig
    ) {
        <mat-icon
            [style.height]="iconConfig.height"
            [style.width]="iconConfig.width"
            [svgIcon]="iconConfig.iconName"
        ></mat-icon>
    }
</div>
