<div
    *transloco="
        let c;
        scope: 'payment-section';
        read: 'paymentSection.createInvoiceOrInvoiceTemplate'
    "
    fxLayout="column"
    fxLayoutGap="24px"
>
    <div fxLayout="column" fxLayoutGap="32px">
        <h1 class="dsh-headline">{{ c('title') }}</h1>
        <form [formGroup]="form" fxLayout="column" fxLayoutGap="24px">
            <div class="dsh-body-1">
                {{ c('description') }}
            </div>
            <mat-radio-group formControlName="type" fxLayout="column" fxLayoutGap="24px">
                <mat-radio-button [value]="type.Invoice">{{
                    c('types.personal')
                }}</mat-radio-button>
                <mat-radio-button [value]="type.Template">{{
                    c('types.reusable')
                }}</mat-radio-button>
            </mat-radio-group>
        </form>
    </div>

    <ng-container *ngIf="form.value.type">
        <mat-divider></mat-divider>
        <ng-container *ngIf="form.value.type === type.Invoice">
            <div fxLayout="column" fxLayoutGap="24px">
                <h1 class="dsh-headline">{{ c('invoiceTitle') }}</h1>
                <dsh-create-invoice-form
                    [formControl]="createInvoiceFormControl"
                    [shops]="shops$ | async"
                ></dsh-create-invoice-form>
                <dsh-actions *transloco="let t; scope: 'components'; read: 'components.shared'">
                    <button
                        [disabled]="
                            createInvoiceFormControl.invalid || createInvoiceFormControl.disabled
                        "
                        color="accent"
                        dsh-button
                        (click)="create()"
                    >
                        {{ t('next') }}
                    </button>
                </dsh-actions>
            </div>
        </ng-container>
        <dsh-create-invoice-template
            *ngIf="form.value.type === type.Template"
            [shops]="shops$ | async"
            (next)="nextTemplate.next($event)"
        ></dsh-create-invoice-template>
    </ng-container>
</div>
