<div class="dsh-toolbar">
    <div fxLayoutAlign="center">
        <nav [tabPanel]="tabPanel" class="dsh-top-tab-nav-bar" fitInkBarToContent mat-tab-nav-bar>
            @for (link of sectionLinks$ | async; track link) {
                <a
                    #rla="routerLinkActive"
                    [active]="rla.isActive"
                    [routerLink]="link.path"
                    [routerLinkActiveOptions]="{ exact: $safeNavigationMigration(link?.exact) }"
                    mat-tab-link
                    routerLinkActive
                >
                    {{ link.label }}
                </a>
            }
        </nav>
        <mat-tab-nav-panel #tabPanel></mat-tab-nav-panel>
    </div>
    <dsh-actionbar fxLayoutAlign="end"></dsh-actionbar>
</div>
