<div
    *transloco="let t; scope: 'payment-section'; read: 'paymentSection.operations.refunds'"
    fxLayout="column"
    fxLayoutGap="24px"
>
    <div *ngFor="let item of list; index as i" fxLayout="column" fxLayoutGap="24px">
        <div fxLayout fxLayoutAlign="space-between" fxLayoutGap="16px">
            <div>
                {{ t('header') }}
                <span>#{{ item.id }}</span>
            </div>
        </div>
        <dsh-refund-details [refund]="item"></dsh-refund-details>
        <mat-divider *ngIf="i < list.length - 1"></mat-divider>
    </div>
    <ng-container *ngIf="!loading; else loader">
        <div *ngIf="isEmptyList">
            <div class="mat-body-medium">{{ t('emptyRefunds') }}</div>
        </div>
        <div *ngIf="hasMore">
            <button
                *transloco="let c; scope: 'components'; read: 'components.shared'"
                fxFlex
                mat-flat-button
                (click)="showMoreElements()"
            >
                {{ c('showMore') }}
            </button>
        </div>
    </ng-container>
</div>

<ng-template #loader>
    <div *transloco="let c; scope: 'components'; read: 'components.shared'">
        <div class="mat-body-medium">{{ c('loading') }}</div>
    </div>
</ng-template>
