<div
    *transloco="let t; scope: 'payment-section'; prefix: 'paymentSection.operations.refunds'"
    fxLayout="column"
    fxLayoutGap="24px"
>
    @for (item of list; track item; let i = $index) {
        <div fxLayout="column" fxLayoutGap="24px">
            <div fxLayout fxLayoutAlign="space-between" fxLayoutGap="16px">
                <div>
                    {{ t('header') }}
                    <span>#{{ item.id }}</span>
                </div>
            </div>
            <dsh-refund-details [refund]="item"></dsh-refund-details>
            @if (i < list.length - 1) {
                <mat-divider></mat-divider>
            }
        </div>
    }
    @if (!loading) {
        @if (isEmptyList) {
            <div>
                <div class="mat-body-medium">{{ t('emptyRefunds') }}</div>
            </div>
        }
        @if (hasMore) {
            <div>
                <button
                    *transloco="let c; scope: 'components'; prefix: 'components.shared'"
                    fxFlex
                    mat-flat-button
                    (click)="showMoreElements()"
                >
                    {{ c('showMore') }}
                </button>
            </div>
        }
    } @else {
        <div *transloco="let c; scope: 'components'; prefix: 'components.shared'">
            <div class="mat-body-medium">{{ c('loading') }}</div>
        </div>
    }
</div>
