<dsh-filters-group [formGroup]="form">
    <dsh-date-range-filter
        [default]="defaultDateRange"
        [maxDate]="defaultDateRange.end"
        formControlName="dateRange"
    ></dsh-date-range-filter>
    <dsh-shops-filter [shops]="shops" formControlName="shopIDs" fxHide.lt-md></dsh-shops-filter>
    <dsh-invoices-filter formControlName="invoiceIDs" fxHide.lt-md></dsh-invoices-filter>
    <dsh-refund-status-filter
        formControlName="refundStatus"
        fxHide.lt-md
    ></dsh-refund-status-filter>
    <div
        *transloco="let t; scope: 'core-components'; read: 'coreComponents.additionalFilters'"
        fxHide.gt-sm
    >
        <dsh-filter-button
            [active]="isAdditionalFilterApplied$ | async"
            (click)="openFiltersDialog()"
        >
            {{ t('additionalFilters') }}
        </dsh-filter-button>
    </div>
</dsh-filters-group>
