<div
    *transloco="let d; scope: 'components'; read: 'components.createInvoiceForm'"
    [formGroup]="control"
    fxLayout="column"
    fxLayoutGap="24px"
>
    <div fxLayout="column" fxLayoutGap="24px">
        <mat-form-field>
            <mat-label>{{ d('form.shop') }}</mat-label>
            <mat-select formControlName="shopID" required>
                <mat-option *ngFor="let shop of shops" [value]="shop.id">
                    {{ shop.details.name }}
                </mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field>
            <mat-label>{{ d('form.dueDate') }}</mat-label>
            <input
                [matDatepicker]="dueDate"
                [min]="minDate"
                formControlName="dueDate"
                matInput
                required
            />
            <mat-datepicker-toggle [for]="dueDate" matSuffix></mat-datepicker-toggle>
            <mat-datepicker #dueDate></mat-datepicker>
        </mat-form-field>
        <mat-form-field>
            <mat-label>{{ d('form.product') }}</mat-label>
            <input autocomplete="off" formControlName="product" matInput required />
        </mat-form-field>
        <mat-form-field>
            <mat-label>{{ d('form.description') }}</mat-label>
            <input autocomplete="off" formControlName="description" matInput />
        </mat-form-field>
        <ng-container *ngIf="currency">
            <mat-form-field fxFlex>
                <mat-label>{{ d('form.amount') }}</mat-label>
                <dsh-format-input
                    autocomplete="off"
                    format="amount"
                    formControlName="amount"
                    required
                ></dsh-format-input>
                <span matTextPrefix>{{ currency }}&nbsp;</span>
            </mat-form-field>
            <dsh-invoice-randomize-amount-form
                [currency]="currency"
                [formControl]="randomizeAmountFormControl"
            ></dsh-invoice-randomize-amount-form>
        </ng-container>
    </div>
</div>
