<dsh-card
    *transloco="let t; scope: 'payment-section'; read: 'paymentSection.apiKey'"
    fxLayout="column"
>
    <dsh-card-content fxLayout="column" fxLayoutGap="32px">
        <div class="dsh-headline">{{ t('title') }}</div>
        <div fxLayout="column" fxLayoutGap="24px">
            <div class="dsh-subheading-2">
                {{ t('description') }}
                <a [href]="paymentsApiSpecEndpoint" target="_blank">{{ t('api') }}</a>
            </div>
            <div class="ym-hide-content" fxLayout="column" fxLayoutGap="32px">
                <mat-form-field>
                    <input [value]="token$ | async" class="ym-disable-keys" matInput readonly />
                </mat-form-field>
                <div fxLayout fxLayoutAlign="stretch" fxLayoutAlign.gt-sm="end">
                    <button
                        [cdkCopyToClipboard]="token$ | async"
                        color="accent"
                        dsh-button
                        fxFlex
                        fxFlex.gt-sm="none"
                        (cdkCopyToClipboardCopied)="copied($event)"
                    >
                        {{ t('copy') }}
                    </button>
                </div>
            </div>
        </div>
    </dsh-card-content>
</dsh-card>
