<dsh-base-dialog [title]="data.label" (cancel)="save()">
    <ng-container *ngTemplateOutlet="data.content"></ng-container>
    <ng-container
        *transloco="let t; scope: 'components'; read: 'components.shared'"
        dshBaseDialogActions
    >
        <button *ngIf="!data.noClearButton" mat-button (click)="clear()">
            {{ t('clear') }}
        </button>
        <button mat-flat-button (click)="save()">
            {{ t('save') }}
        </button>
    </ng-container>
</dsh-base-dialog>
