<div
    *transloco="
        let t;
        scope: 'organization-section';
        prefix: 'organizationSection.acceptInvitation'
    "
    class="dsh-accept-invitation"
    fxLayout="column"
    fxLayoutAlign=" center"
    fxLayoutGap="48px"
>
    @if (isLoading$ | async) {
        <dsh-spinner></dsh-spinner>
    } @else {
        @if (isCompleted) {
            @if (hasError) {
                <div class="mat-headline-small">{{ t('error.title') }}</div>
            } @else {
                <div class="mat-headline-small">{{ t('success.title') }}</div>
                <a dshLink routerLink="/organization-section/organizations">{{
                    t('success.goToOrganizationsList')
                }}</a>
            }
        } @else {
            <div class="mat-headline-small">{{ t('confirm.title') }}</div>
            <button class="accept-button" mat-flat-button (click)="accept()">
                {{ t('confirm.button') }}
            </button>
            <div class="mat-body-small" dshTextColor="secondary">
                {{ t('confirm.refuseDescription') }}
            </div>
        }
    }
</div>
