$dsh-route-container-max-width: 1128px;
$dsh-route-navbar-container-padding: 176px 0 0 0;

.dsh-route-container {
    max-width: $dsh-route-container-max-width;
    margin: 0 auto;
}

.dsh-route-navbar-container {
    padding: $dsh-route-navbar-container-padding;
}
