<ng-container *transloco="let t; scope: 'wallet-section'; read: 'walletSection.webhooks'">
    <dsh-base-dialog [title]="t('createWebhook.title')" (cancel)="cancel()">
        <dsh-create-webhook-form [form]="form"></dsh-create-webhook-form>
        <div dshBaseDialogActions fxLayout="row" fxLayoutAlign="space-between center">
            <button
                [disabled]="(isLoading$ | async) || !form.valid"
                class="action-button"
                mat-flat-button
                (click)="save()"
            >
                {{ t('createWebhook.create') }}
            </button>
        </div>
    </dsh-base-dialog>
</ng-container>
