<div fxLayout="column">
    @for (control of formControl.controls; track control; let idx = $index) {
        <div fxLayout fxLayoutGap="24px">
            <mat-form-field fxFlex>
                <mat-label>{{ label }}</mat-label>
                <input [formControl]="control" autocomplete="off" matInput type="text" />
            </mat-form-field>
            @if (formControl.controls.length > 1 || formControl.controls[0].value) {
                <dsh-bi
                    class="remove-icon action-icon"
                    icon="x"
                    size="lg"
                    (click)="removeControl(idx)"
                ></dsh-bi>
            }
        </div>
    }
    <dsh-bi
        class="action-icon"
        fxFlexAlign="end"
        icon="plus"
        size="lg"
        (click)="addControl()"
    ></dsh-bi>
</div>
